%tr{"data-id" => "#{angler['angler_id']}", "data-path" => "#{anglers_path(angler['angler_id'])}"}
  %td= angler['user_name']
  %td= angler['activity_type']
  %td= angler['angler_id_string']
  %td= angler['angler_name']
  %td= angler['angler_email']
  %td{"data-order" => "#{angler['epoch_time']}"}= angler['activity_date']
