%tr{"data-id" => "#{capture['id']}", "data-path" => "#{captures_path(capture['id'])}"}
  %td= capture['user_name']
  %td= capture['activity_type']
  %td= capture['angler_id']
  %td= capture['angler_name']
  %td= capture['tag_number']
  %td{"data-order" => "#{capture['capture_epoch_time']}"}= capture['capture_date']
  %td= capture['species']
  %td{"data-order" => "#{capture['epoch_time']}"}= capture['activity_date']
