%tr{"data-id" => "#{recapture['id']}", "data-path" => "#{recaptures_path(recapture['id'])}"}
  %td= recapture['user_name']
  %td= recapture['activity_type']
  %td= recapture['angler_id']
  %td= recapture['angler_name']
  %td= recapture['tag_number']
  %td{"data-order" => "#{recapture['capture_epoch_time']}"}= recapture['capture_date']
  %td= recapture['species']
  %td{"data-order" => "#{recapture['epoch_time']}"}= recapture['activity_date']
