%tr
  %td= tag['user_name']
  %td= tag['activity_type']
  %td= tag['angler_id']
  %td= tag['angler_name']
  %td= tag['start_tag']
  %td= tag['end_tag']
  %td= tag['number_of_tags']
  %td{"data-order" => "#{tag['epoch_time']}"}= Date.parse(tag['activity_date']).strftime('%m/%d/%Y')