<%= semantic_form_for @species_length do |f| %>
<%= f.inputs do %>
    <%= f.input :description %>
    <%= f.input :species_id %>
<% end %>

<%= f.actions do %>
<%= f.action :submit, :as => :input %>
<% end %>
<% end %>
