<h1>Listing species_lengths</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Species</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @species_lengths.each do |species_length| %>
      <tr>
        <td><%= species_length.description %></td>
        <td><%= species_length.species_id %></td>
        <td><%= link_to 'Show', species_length %></td>
        <td><%= link_to 'Edit', edit_species_length_path(species_length) %></td>
        <td><%= link_to 'Destroy', species_length, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Species length', new_species_length_path %>
