<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @species_length.description %>
</p>

<p>
  <strong>Species:</strong>
  <%= @species_length.species_id %>
</p>

<%= link_to 'Edit', edit_species_length_path(@species_length) %> |
<%= link_to 'Back', species_lengths_path %>
