#centercontent {
  background-color: white;
  height: 100%;
  width: 298mm;
  margin: -8px;
}

#centercontent p {
  text-align: center;
}

.bold {
  font-weight: 700;
}

.capture-info {
  width: 800px;
  margin: 0 auto;
}

.card-header {
  padding-left: 20px;
  padding-right: 20px;
}

.card {
  width: 980px;
  float: left;
  margin-left: 10px;
  margin-right: 10px;

  padding-bottom: 5px;
  margin-bottom: 13px;
}

.card-two-column {
  width: 475px;
  height: 100%;
  min-height: 215px;
}

.black-card-border {
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;

  border-color: #000;
  border-style: solid;
  border-width: 2px;
}

.red-card-border {
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;

  border-color: red;
  border-style: solid;
  border-width: 2px;
}

.row-with-padding {
  margin-top: 10px;
}

.card h3 {
  margin-bottom: 4px;
  margin-top: 11px;
}

.card table {
  margin-left: 20px;
  margin-right:20px;
}

.cards {
  width: 1060px;
  margin: 0 auto 0 13px;
  height: auto;
}

.clearfix {
  clear: both;
}

.contact {
  width: 460px;
}

.footer-info {
  -webkit-border-top-right-radius: 30px;
  -webkit-border-bottom-right-radius: 18px;
  -webkit-border-bottom-left-radius: 18px;
  -moz-border-radius-topright: 30px;
  -moz-border-radius-bottomright: 18px;
  -moz-border-radius-bottomleft: 18px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 18px;
  border-bottom-left-radius: 18px;
  width: 1022px;
  background-color: #d3d3d3;
  height: 197px;
}

.footer-info table {
  margin-left: 181px;
}

.footer-tag-title {
  font-size: 1.2em;
}

.greeting p {
  font-size: 1.2em;;
}

.header {
  font-size: 2.5em;
  margin-top: 31px;
}

.header-container {
  background-color: #fff;
  -webkit-border-top-left-radius: 18px;
  -moz-border-radius-topleft: 18px;
  border-top-left-radius: 18px;
}

.footer-container {
  background-color: #fff;
  -webkit-border-top-left-radius: 18px;
  -moz-border-radius-topleft: 18px;
  border-top-left-radius: 18px;
}

.header-image {
  height: 150px;
  padding-left: 79px;
  padding-top: 1px;
  position: absolute;
  width: 150px;
  margin: 0 auto;
}

.header-right-border {
  width: 40px;
  background-color: #fff;
  position: absolute;
  right: 0;
}

.header-stuff {
  -webkit-border-top-left-radius: 18px;
  -webkit-border-top-right-radius: 18px;
  -webkit-border-bottom-right-radius: 30px;
  -moz-border-radius-topleft: 18px;
  -moz-border-radius-topright: 18px;
  -moz-border-radius-bottomright: 30px;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  border-bottom-right-radius: 30px;
  width: 1022px;
  background-color: #d3d3d3;
  height: 125px;
  margin: -1px;
}

.header-text {
  margin: 0 auto;
  padding-left: 208px;
  padding-top: 2px;
}

.inner-report-content {
  background-color: #FFFFFF;
  border-bottom-left-radius: 27px;
  border-top-left-radius: 27px;
  margin-left: 45px;
  padding-bottom: 20px;
  padding-top: 12px;
  position: relative;
  z-index: 1;
}

.ldwf-logo {
  width: 130px;
  height: 130px;
}

.left {
  float: left;
}

.logo-image {
  height: 67px;
  width: 150px;
}

.map {
  width: 1025px;
  -webkit-border-radius: 27px;
  -moz-border-radius: 27px;
  border-radius: 27px;
  margin: 0 auto;
}

.map img {
  width: 1025px;
  -webkit-border-radius: 18px;
  -moz-border-radius: 18px;
  border-radius: 18px;
}

.marker {
  margin-top: 6px;
  height: 26px;
  margin-right: 18px;
}

.square {
  background-color: white;
  height: 28px;
  margin-left: -5px;
  margin-right: 13px;
  margin-top: 5px;
  width: 28px;
}

.square div {
  background-color: white;
  height: 22px;
  left: 3px;
  position: relative;
  top: 3px;
  width: 22px;
  opacity: .8;
}

.report-side-bar {
  -webkit-border-bottom-left-radius: 18px;
  -moz-border-radius-bottomleft: 18px;
  border-bottom-left-radius: 18px;
  background-color: #D3D3D3;
  height: 100%;
  position: absolute;
  width: 200px;
  margin-left: -2px;
}

.report-content {

  width: 100px;
}

.report-container {
  display: block;
  width: 522px;
  margin: 0px auto;
}

.report-outside {
  position: absolute;
  margin-left: 1px;
}

.right {
  margin-left: 10px;
}

.tagging-logo {
  height: 150px;
  left: 2px;
  position: relative;
  width: 150px;
  z-index: 3;
}
