@import "common/variables";

body.draft-captures {
  .show {
    .tab-pane {
      border-top: 1px solid $fish_la_blue;
    }

    .btn-group.actions {
      margin-bottom: 10px;
    }

    .status {
      padding-top: 20px;
    }
  }
}