#changeAnglerID.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-sm
    .modal-content
      = form_tag change_angler_id_anglers_path do
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
          %h4#myModalLabel Change Angler ID

        .modal-body
          .table-container
            = hidden_field_tag :original_angler_id, angler.angler_id
            .form-group
              = label_tag :new_angler_id, 'New Angler ID'
              = autocomplete_field_tag :new_angler_id, nil, autocomplete_angler_angler_id_anglers_path, class: 'form-control angler-id-field uppercase-field', data: { 'auto-focus' => true, noMatchesLabel: 'No existing anglers found. Will change the ID to the entered one.' }
            .merge-info.collapse
              %p There is an angler with that angler Id already. You will have to merge them to continue.
              %button.btn.btn-default{type: 'button'} Merge

        .modal-footer
          %button.btn.btn-danger{"aria-hidden" => "true", "data-dismiss" => "modal", type: 'button'} Cancel
          = submit_tag 'Change', class: 'btn btn-default', disabled: true