#printAddressLabel.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-lg{style: 'min-width: 90%'}
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel Print DYMO Label
      .modal-body
        .table-container
          .row
            .col-md-6
              #addressDiv
                %label.modalLabel{:for => "addressTextArea"} Address
                %br/
                %textarea#addressTextArea.form-control{:cols => "35", :name => "addressTextArea", :rows => "5"}= angler.postal_address.html_safe
            .col-md-6
              .row
                %label.modalLabel{:for => "labelImageDiv"} Label
                %br/
                #labelImageDiv
                  %img#labelImage{:alt => "label preview", :src => ""}/
          .row
            .col-md-12{:style => "margin-top: 20px"}
              %label.modalLabel{:for => "printersSelect"} Choose Printer
              %select#printersSelect.form-control
      .modal-footer
        %button.btn.btn-danger{"aria-hidden" => "true", "data-dismiss" => "modal", type: :button} Cancel
        %button#printButton.btn.btn-default{"aria-hidden" => "true", "data-dismiss" => "modal"} Print