#anglerMergeModal.modal.fade
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", type: "button"}
          %span{"aria-hidden" => "true"} &times;
        %h4.modal-title Perform Merge
      .modal-body
        .table-container
          %h4 Destination Angler
          %table#targetList.table.table-striped.canonical
            %thead
              %tr
                %th Angler ID
                %th First
                %th Last
                %th Street
                %th Suite
                %th City
                %th State
                %th Zip
                %th Phone 1
                %th Phone 2
                %th Email
                %th Email 2
                %th Shirt Size
            %tbody
          %h4 Select attributes from duplicate anglers
          %table#candidatesList.table.table-striped.duplicates
            %thead
              %tr
                %th Angler ID
                %th First
                %th Last
                %th Street
                %th Suite
                %th City
                %th State
                %th Zip
                %th Phone 1
                %th Phone 2
                %th Email
                %th Email 2
                %th Shirt Size
            %tbody
          %hr
          .actions.checkbox
            =label_tag :delete_anglers do
              = check_box_tag :delete_anglers, '1', false, class: 'checkbox'
              Delete the duplicate anglers? This will transfer any data from the duplicate anglers to the destination angler.
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close
        %button.btn.btn-danger.submit Merge