#transferData.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog.modal-sm
    .modal-content
      = form_tag transfer_data_anglers_path do
        .modal-header
          %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
          %h4#myModalLabel Transfer data to new Angler
        .modal-body
          .table-container
            = hidden_field_tag :original_angler, angler.angler_id
            .form-group
              = label_tag :destination_angler, 'New Angler ID'
              = autocomplete_field_tag :destination_angler, nil, autocomplete_angler_angler_id_anglers_path, class: 'form-control'
            .checkbox
              = label_tag :delete_angler, 'Delete Angler' do
                = check_box_tag :delete_angler, '1', false, { class: 'checkbox' }
                Delete Angler #{angler.angler_id}?
        .modal-footer
          %button.btn.btn-danger{"aria-hidden" => "true", "data-dismiss" => "modal", type: 'button'} Cancel
          = submit_tag 'Change', class: 'btn btn-default'