<%= form_for @announcement do |f| %>
    <div class="row">
      <div class="col-md-2">
        <div class="form-group">
          <%= f.label :expiration_date %>
          <%= f.datetime_picker_field :expiration_date, class: 'form-control' %>
        </div>
      </div>
      <div class="col-md-12">
        <div class="form-group">
          <%= f.label :content %>
          <%= f.text_area :content, class: 'summernote' %>
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-default">Update Announcement</button>

<% end %>

