<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Your download is ready!</h1>

    <span>The link will expire at <%= (@download.updated_at + 24.hours).in_time_zone("Central Time (US & Canada)").strftime('%m/%e/%Y %l:%M %P %Z') %></span>

    <br>
    <br>

    <a href="https://narwhal.taglouisiana.com/request_download/get?token=<%= @download.token %>"><%= @download.filename %></a>
  </body>
</html>