body.report {
  .results .title {
    font-size: 12px;
    font-weight: 700;
    color: #959595;
    text-transform: uppercase;
    letter-spacing: 1px;
  }

  .dataTables_wrapper {
    margin-top: 30px;
  }

  .table-container {
    min-height: 368px;
  }
}