<h1>Listing front_page_photo_stream_items</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @front_page_photo_stream_items.each do |front_page_photo_stream_item| %>
      <tr>
        <td><%= link_to 'Show', front_page_photo_stream_item %></td>
        <td><%= link_to 'Edit', edit_front_page_photo_stream_item_path(front_page_photo_stream_item) %></td>
        <td><%= link_to 'Destroy', front_page_photo_stream_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Front page photo stream item', new_front_page_photo_stream_item_path %>
