<tr>
  <td><%= angler.angler_id %></td>
  <td><%= angler.first_name %></td>
  <td><%= angler.last_name %></td>
  <td><%= angler.street %></td>
  <td><%= truncate(angler.suite, :length => 10 ) %></td>
  <td><%= angler.city %></td>
  <td><%= angler.state %></td>
  <td><%= angler.zip %></td>
  <td><%= angler.phone_number_1 %></td>
  <td><%= angler.email %></td>
  <td><%= link_to font_awesome_icon('fa-external-link'), angler_path(angler.id) %></td>
</tr>
