<!--parent is in captures-->
<tr>
  <td><%= capture.angler_number %></td>
  <td><%= capture.capture_angler %></td>
  <td><%= capture.tag_number %></td>
  <td><%= capture.date_string %></td>
  <td><%= capture.species_name %></td>
  <td><%= capture.latitude_formatted %></td>
  <td><%= capture.longitude_formatted %></td>
  <td><%= capture.fish_condition_option_id %></td>
  <td><%= capture.recapture_count > 0 ? font_awesome_icon('fa-check') : '' %></td>
  <td><%= link_to font_awesome_icon('fa-external-link'), capture_path(capture.id) %></td>
</tr>
