<!--parent is in captures-->
<tr>
  <% status = draft_capture.draft_capture.status %>
  <td><%= draft_capture.angler_number %></td>
  <td><%= draft_capture.angler_full_name %></td>
  <td><%= draft_capture.tag_number %></td>
  <td><%= draft_capture.capture_date.strftime("%m/%d/%Y") %></td>
  <td><%= draft_capture.species_name %></td>
  <td><%= draft_capture.latitude_formatted %></td>
  <td><%= draft_capture.longitude_formatted %></td>
  <td><%= draft_capture.fish_condition_id %></td>
  <td><%= draft_capture.recapture ? '<i class="fa fa-check"></i>'.html_safe : '' %></td>
  <td data-status="<%= status.to_json %>"><%= "<i class=\"fa #{status[:icon]}\" data-toggle=\"tooltip\" data-placement=\"left\" title=\"#{status[:message]}\"></i>".html_safe %></td>
  <td><%= link_to font_awesome_icon('fa-external-link'), draft_capture_path(draft_capture.id) %></td>
</tr>
