
<tr>
  <td><%= recapture.recapture_angler_number %></td>
  <td><%= recapture.recapture_angler_name %></td>
  <td><%= recapture.tag_number %></td>
  <td><%= recapture.date_string %></td>
  <td><%= recapture.species_name %></td>
  <td><%= recapture.latitude_formatted %></td>
  <td><%= recapture.longitude_formatted %></td>
  <td><%= recapture.fish_condition %></td>
  <td><%= recapture.recapture_disposition %></td>
  <td><%= link_to font_awesome_icon('fa-external-link'), recapture_path(recapture.id)  %></td>
</tr>

