<tr>
  <td> <%= user.first_name %> </td>
  <td> <%= user.last_name %> </td>
  <td> <%= user.email %> </td>
  <td> <%= user.angler.try(:angler_id) %> </td>
  <td> <%= user.created_at %> </td>
  <td> <%= user.roles_list %> </td>
  <td> <%= link_to font_awesome_icon('fa-external-link'), edit_user_path(user.id) %> </td>
</tr>
