<tr>
  <td> <%= volunteer_hour.angler_number %> </td>
  <td> <%= volunteer_hour.angler.try(:first_name) %> </td>
  <td> <%= volunteer_hour.angler.try(:last_name) %> </td>
  <td> <%= volunteer_hour.total_time %> </td>
  <td> <%= volunteer_hour.start %> </td>
  <td> <%= volunteer_hour.end %> </td>
  <td> <%= volunteer_hour.verified %> </td>
  <td> <%= volunteer_hour.number_of_captures %> </td>
  <td> <%= link_to font_awesome_icon('fa-external-link'), edit_volunteer_time_log_path(volunteer_hour.id)  %> </td>
</tr>
