%tr{"data-id" => "#{banquet_anglers[:angler_id]}"}
  %td= banquet_anglers[:angler_id]
  %td= banquet_anglers[:contact][:first_name]
  %td= banquet_anglers[:contact][:last_name]
  %td= banquet_anglers[:capture_count]
  %td= banquet_anglers[:recapture_count]
  %td= banquet_anglers[:species].select{|s| s[:name] == 'Redfish' }.try(:[],0).try(:[],:count) || 0
  %td= banquet_anglers[:species].select{|s| s[:name] == 'Red Snapper' }.try(:[],0).try(:[],:count) || 0
  %td= banquet_anglers[:species].select{|s| s[:name] == 'Speckled Trout' }.try(:[],0).try(:[],:count) || 0
  %td= banquet_anglers[:species].select{|s| s[:name] == 'Yellowfin Tuna' }.try(:[],0).try(:[],:count) || 0
