%tr{"data-id" => "#{captures_lottery['id']}"}
  %td= captures_lottery['angler_id']
  %td= captures_lottery['first_name']
  %td= captures_lottery['last_name']
  %td= captures_lottery['tag_number']
  %td= captures_lottery['species_name']
  %td{"data-order" => "#{captures_lottery['epoch_time']}"}= captures_lottery['capture_date']
