%tr
  %td= captures_by_angler['angler_id']
  %td= captures_by_angler['first_name']
  %td= captures_by_angler['last_name']
  %td{ data: { order: captures_by_angler['capture_count'] }}= number_with_delimiter(captures_by_angler['capture_count'])
  %td.text-center
    %i.fa.fa-info-circle.detail{"data-angler" => "#{captures_by_angler['angler_id']}", :onclick => "reportsShowDetail(this, false)", :style => "cursor: pointer; padding-right: 20px"}
