%tr{"data-id" => "#{days_at_large['id']}"}
  %td= days_at_large['angler_id']
  %td= days_at_large['first_name']
  %td= days_at_large['last_name']
  %td= days_at_large['tag_number']
  %td= days_at_large['species_name']
  %td{"data-order" => "#{days_at_large['epoch_time']}"}= days_at_large['capture_date']
  %td{"data-order" => "#{days_at_large['recapture_epoch_time']}"}= days_at_large['recapture_date']
  %td{ data: { order: days_at_large['days_at_large'] }}= number_with_delimiter(days_at_large['days_at_large'])
