%tr
  %td= recaptures_by_angler['angler_id']
  %td= recaptures_by_angler['first_name']
  %td= recaptures_by_angler['last_name']
  %td{ data: { order: recaptures_by_angler['capture_count'] }}= number_with_delimiter(recaptures_by_angler['capture_count'])
  %td.text-center
    %i.fa.fa-info-circle.detail{"data-angler" => "#{recaptures_by_angler['angler_id']}", :onclick => "reportsShowDetail(this, true)", :style => "cursor: pointer; padding-right: 20px"}
