%tr{"data-id" => "#{unused_kits.id}"}
  %td= unused_kits.angler_number
  %td= unused_kits.angler.first_name
  %td= unused_kits.angler.last_name
  %td{ data: { order:  unused_kits.assignment_at.to_time.to_i } }= unused_kits.assignment_at.strftime('%m/%d/%Y')
  %td= unused_kits.start_tag
  %td= unused_kits.end_tag
  %td= unused_kits.number_of_tags
