<h1>Update the How To Guide</h1>
<%= form_for @how_to_tag do |f| %>
  <div class="row">
    <div class="col-md-12 ">
      <%= f.text_area :description, :class => 'summernote' %>
    </div>
  </div>

  <br/>

  <button type="submit" class="btn btn-default pull-right">Update How To</button>

<% end %>




