<h1>Listing how_to_tags</h1>

<table>
  <tr>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @how_to_tags.each do |how_to_tag| %>
      <tr>
        <td><%= how_to_tag.description %></td>
        <td><%= link_to 'Show', how_to_tag %></td>
        <td><%= link_to 'Edit', edit_how_to_tag_path(how_to_tag) %></td>
        <td><%= link_to 'Destroy', how_to_tag, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New How to tag', new_how_to_tag_path %>
