<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => {:method => :put}) do |f| %>
  <%= devise_error_messages! %>
  <p><%= f.label :first_name %></p>
  <p><%= f.text_field :first_name %></p>

  <p><%= f.label :last_name %></p>
  <p><%= f.text_field :last_name %></p>

  <p><%= f.label 'Angler ID' %></p>
  <p><%= f.text_field :angler_id %></p>

  <% if current_user.id == resource.id %>
    <div><%= f.label :password %>
      <br/>
      <%= f.password_field :password %></div>

    <div><%= f.label :password_confirmation %>
      <br/>
      <%= f.password_field :password_confirmation %></div>
  <% end %>

  <div><%= f.submit "Update" %></div>
<% end %>

