- item = history

.modal.fade{'aria-labelledby' => 'myModalLabel', :role => 'dialog', tabindex: '-1', id: modal_id}
  .modal-dialog{role: 'document', style: 'width: 90%' }
    .modal-content
      .modal-header
        %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: :button}
          %span{'aria-hidden' => 'true'} &times;
        %h4#myModalLabel.modal-title Modal title
      .modal-body
        .table-container

          %h4 #{item.class.name} History
          %table.table.table-striped
            %thead
              %tr
                %th User
                %th Kind
                %th Event
                %th Date
            %tbody
              - item.versions.order(created_at: :asc).each do |version|
                - user = User.where(id: version.whodunnit).first
                %tr
                  %td= user.try(:full_name) || "Unknown (probably #{item.angler.try(:full_name)})"
                  %td= user.nil? ? 'Unknown' : user.roles.pluck(:name).map { |n| n.titleize}.join(',')
                  %td= version.event.try(:titleize)
                  %td= version.created_at

          - if item.tag.versions.order(created_at: :asc).any?
            %h4 Tag History
            %table.table.table-striped
              %thead
                %tr
                  %th User
                  %th Kind
                  %th Event
                  %th Date
              %tbody
                - item.tag.versions.order(created_at: :asc).each do |version|
                  - user = User.where(id: version.whodunnit).first
                  %tr
                    %td= user.try(:full_name) || 'Unknown'
                    %td= user.nil? ? 'Unknown' : user.roles.pluck(:name).map { |n| n.titleize}.join(',')
                    %td= version.event.try(:titleize)
                    %td= version.created_at

      .modal-footer
        %button.btn.btn-default{"data-dismiss" => 'modal', type: :button} Close