- item = images

.modal.images-modal.fade{'aria-labelledby' => 'Image modal', :role => 'dialog', tabindex: '-1', id: modal_id}
  .modal-dialog{role: 'document', style: 'width: 90%' }
    .modal-content
      .modal-header
        %button.close{'aria-label' => 'Close', 'data-dismiss' => 'modal', type: :button}
          %span{'aria-hidden' => 'true'} &times;
        %h4#myModalLabel.modal-title Uploaded Images
      .modal-body

        .row.images
          - item.images.each do |image|
            .col-md-3.image-item
              .row
                .col-sm-12
                  = image_tag image.image.url(:thumb).html_safe
              .row
                .col-sm-12.text-center
                  %span= "Added on #{image.created_at.strftime('%m/%d/%Y')}"
              .row
                .col-sm-12
                  = link_to 'Download', image.image.url(:original), class: 'btn btn-default form-control'
              .row
                .col-sm-12
                  = link_to 'Delete', image.image.url, method: :delete, data: { confirm: 'Are you sure you want to delete this photo?'}, class: 'btn btn-danger form-control'

      .modal-footer
        %button.btn.btn-default{"data-dismiss" => 'modal', type: :button} Close