= form_for(@angler, html: {role: 'form'}) do |form|
  = render partial: 'partials/form_flash_messages', object: form.object
  .row
    .col-md-3.col-sm-6.col-xs-12
      .form-group
        = form.hidden_field :id, class: 'hidden id'
        = form.label :angler_id, 'Angler ID'
        - if form.object.persisted?
          = text_field_tag :angler_id, @angler.angler_id, class: 'uppercase-field form-control', disabled: true
        - else
          = form.text_field :angler_id, class: 'uppercase-field form-control', 'remote-validation-param' => 'angler_id', data: {'parsley-remote' => '', 'parsley-remote-validator' => 'angler-id-available'}
  = render partial: 'anglers/partials/fields', object: form

  .row
    .col-md-12.edit.actions
      = form.submit :class => 'btn btn-default submit-button'
      %button.btn.btn-danger.pull-right{type: "reset"} Clear