<%= form_for Angler.new, remote: true do |form| %>
    <%= render partial: 'partials/form_flash_messages', object: form.object %>

    <%= render partial: 'anglers/partials/fields', object: form %>

    <div class="row">
      <div class="col-md-2 col-md-offset-8">
        <button class="btn btn-default form-control" type="submit">Create</button>
      </div>

      <div class="col-md-2">
        <button type="reset" class="btn btn-danger form-control">Clear</button>
      </div>
    </div>
<% end %>