$('#new_angler_modal').modal('hide');

$('.fish-entry .hidden-angler-id').val('<%= @angler.id.to_s %>');
$('.fish-entry .angler-id-field').val('<%= escape_javascript(@angler.angler_id)%>');
$('.fish-entry #angler_name').val('<%= escape_javascript(@angler.full_name)%>');