<div class="table-container">
  <h1>Duplicates</h1>
  <%= render partial: 'anglers/partials/duplicate_anglers_table', object: @anglers %>

  <a href="#anglerMergeModal" role="button" class="btn btn-danger modal-button" data-toggle="modal">Start Merge</a>
</div>

<%= render partial: 'anglers/partials/modals/merge_angler' %>