<h1>New Angler</h1>

<div class="table-container">
  <%= render 'form' %>
</div>

<div id='dataMerge' class='modal fade' tabindex='-1' role='dialog' aria-labelledby='myModalLabel' aria-hidden='true'>
  <div class='modal-dialog modal-sm'>
    <div class='modal-content'>

      <div class='modal-header'>
        <button type='button' class='close' data-dismiss='modal' aria-hidden='true'>×</button>
        <h4 id='myModalLabel'>Angler has data</h4>
      </div>

      <div class='modal-body'>
        <p>Please enter whom to transfer this angler's data to, before this angler can be deleted.<p>
        <%= autocomplete_field_tag :angler_id, '', autocomplete_angler_angler_id_captures_path, class: 'angler-id' %>
      </div>

      <div class='modal-footer'>
        <button class='btn btn-default' data-dismiss='modal' aria-hidden='true'>Cancel</button>
        <button class='btn btn-primary continue-button'>Continue</button>
      </div>

    </div>
  </div>
</div>