<h1>Possible Duplicate Anglers</h1>

<div class="table-container">
    <table class="table table-striped table-hover">
      <thead>
        <tr>
          <th>First</th>
          <th>Last</th>
          <th>Count</th>
          <th>Merge</th>
        </tr>
      </thead>
      <tbody>
        <% @anglers.each do |angler| %>
            <tr>
              <td><%= angler['first_name'] %></td>
              <td><%= angler['last_name'] %></td>
              <td><%= angler['count'] %></td>
              <td class="text-center center-table-icon">
                <%= link_to with_name_duplicates_anglers_path(first_name: angler['first_name'], last_name: angler['last_name']) do %>
                    <%= content_tag :i, nil, class: 'fa fa-external-link center-table-icon' %>
                <% end %>
              </td>
            </tr>
        <% end %>
      </tbody>
    </table>
</div>

<script>
  $('table.table').dataTable()
</script>