<div class="row">
  <div class="col-md-8">
    <h1>Anglers</h1>
  </div>

  <div class="col-md-4">
    <div class="btn-group pull-right" role="group" aria-label="actions">
      <%= link_to '<i class="fa fa-files-o" style="font-size: 1em; margin-left: -1px;"></i> Find Duplicates'.html_safe, duplicates_anglers_path, :class => 'btn btn-default' %>
      <%= link_to '<i class="fa fa-plus" style="font-size: 1em; margin-left: -1px;"></i> New Angler'.html_safe, new_angler_path, :class => 'btn btn-default' %>
    </div>
  </div>
</div>

<div class="table-container">
  <%= form_tag do %>
      <table id="anglersIndexList" class="table table-striped display select">
        <thead>
          <tr>
            <th><%= datatable_checkbox %></th>
            <th>ID</th>
            <th>First</th>
            <th>Last</th>
            <th>Street</th>
            <th>Suite</th>
            <th>City</th>
            <th>State</th>
            <th>Zip</th>
            <th>Phone</th>
            <th>Email</th>
            <th>Entered</th>
            <th>Assign Tags</th>
            <th>Open</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
  <% end %>

  <div class="btn-group table-actions" role="group" aria-label="actions_for_rows">
    <button type="button" class="btn btn-default collapse btn-download">
      <i class="fa fa-download" style="font-size: 1em; margin-left: -1px;"></i> DOWNLOAD
    </button>
  </div>
</div>