<div>
<h1 style="float:left; display:block;">Merge Anglers</h1>
</div>

<!-- Table lsit fo anglers -->

<table class="table table-striped table-hover" style="font-size:1em;">
  <thead>
    <tr>
      <th style="width:60px;">Lag no</th>
      <th>First</th>
      <th>Last</th>
      <th>Street</th>
      <th>Suite</th>
      <th>City</th>
      <th>State</th>
      <th>Zip</th>
      <th>Phone No. 1</th>
      <th>Phone No. 2</th>
      <th>Email</th>
      <th>Email 2</th>
      <th>Shirt size</th>
    </tr>
  </thead>
  <tbody>
    <% @anglers.each do |angler| %>
      <tr class="merge_row">
        <td><%= angler.lag_no %></td>
        <td><%= angler.first_name %></td>
        <td><%= angler.last_name %></td>
        <td><%= angler.street %></td>
        <td><%= truncate(angler.suite, :length => 10 ) %></td>
        <td><%= angler.city %></td>
        <td><%= angler.state %></td>
        <td><%= angler.zip %></td>
        <td><%= angler.phone_number_1 %></td>
        <td><%= angler.phone_number_2 %></td>
        <td><%= angler.email %></td>
        <td><%= angler.email_2 %></td>
        <td><%= angler.shirt_size %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Perform Merge", angler_perform_merge_path(:anglers => @angler_ids) %>

<br />


