%h1 New Angler

.table-container
  = render 'form'

#duplicate_angler_modal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:style => "width: 95%"}
    .modal-content
      .modal-header
        %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
        %h4#myModalLabel Possible Duplicate Angler
      .modal-body
        .table-container
          %p
            Please review the following information. If you are entering a duplicate angler, then please cancel and use
            one of listed Angler IDs. If this is not a duplicate angler, then you may continue
            %p
              %table.table.table-striped
                %thead
                  %tr
                    %th Angler ID
                    %th First
                    %th Last
                    %th Street
                    %th Suite
                    %th City
                    %th State
                    %th Zip
                    %th Phone 1
                    %th Phone 2
                    %th Email
                    %th Email 2
                %tbody
      .modal-footer
        %button.btn.btn-danger{"aria-hidden" => "true", "data-dismiss" => "modal"} Cancel
        %button.btn.btn-primary.continue-button Continue