- content_for :head do
  = javascript_include_tag 'dymo/dymo.label.framework'
  = javascript_include_tag 'dymo/PreviewAndPrintLabel'

= render partial: 'partials/flash_messages'

.row
  .col-sm-2
    %h1= @angler.angler_id
  .col-sm-10
    .btn-toolbar.with-h1-title.pull-right{"aria-label" => 'angler_toolbar', role: 'toolbar'}
      - has_data = @angler.data_count > 0
      .btn-group{"aria-label" => 'angler_action', role: 'group'}
        = link_to 'PRINT DYMO LABEL', '#', class: 'btn btn-default', data: {toggle: 'modal', target: '#printAddressLabel'}
        = link_to 'CHANGE ANGLER ID', '', class: 'btn btn-warning', data: {toggle: 'modal', target: '#changeAnglerID'}
      .btn-group{"aria-label" => 'data_action', role: 'group'}
        = link_to('USER', edit_user_path(@angler.user), target: :blank, class:'btn btn-default') if @angler.user
        = link_to 'EDIT', edit_angler_path(@angler), class: 'btn btn-default'
        = link_to 'ASSIGN TAGS', assign_tags_path(angler_id: @angler.angler_id), class: 'btn btn-default'
        = link_to('TRANSFER DATA', '', class: 'btn btn-warning', data: {toggle: 'modal', target: '#transferData'}) if has_data
        = link_to('DELETE', angler_path(@angler), method: :delete, data: {confirm: 'Are you sure you want to delete the angler?', toggle: "#{ has_data ? '' : 'tooltip'}", placement: 'top' }, title: 'Angler has data and cannot be deleted', class: 'btn btn-danger', disabled: has_data) unless has_data

.table-container
  = render partial: 'anglers/partials/show/fields', object: @angler

- panel_id = 'data_accordion'
.panel-group{:id => panel_id}
  = render partial: 'anglers/partials/panels/assigned_tags', object: @angler.tag_assignments.to_a, locals: {parent_selector: "##{panel_id}"}
  = render partial: 'anglers/partials/panels/draft_captures', object: @angler.draft_captures.to_a, locals: {parent_selector: "##{panel_id}"}
  = render partial: 'anglers/partials/panels/captures', object: @angler.presentable_captures.to_a, locals: {parent_selector: "##{panel_id}"}
  = render partial: 'anglers/partials/panels/recaptures', object: @angler.presentable_recaptures, locals: {parent_selector: "##{panel_id}"}

= render partial: 'anglers/partials/modals/change_angler_id', locals: {angler: @angler}
= render partial: 'anglers/partials/modals/transfer_data', locals: {angler: @angler}
= render partial: 'anglers/partials/modals/dymo', locals: {angler: @angler}