<% if params[:tab] == 'captures' %>
  $('#captures_view').html('<%= escape_javascript render(:partial => 'anglers/capture', :collection => @captures) %>');
  $('#captures_paginator').html('<%= escape_javascript (paginate(@captures, :remote => true, :params => {:tab => 'captures'}).to_s) %>');
<% elsif params[:tab] == 'recaptures' %>
  $('#recaptures_view').html('<%= escape_javascript render(:partial => 'anglers/recapture', :collection => @recaptures) %>');
  $('#recaptures_paginator').html('<%= escape_javascript (paginate(@recaptures, :remote => true, :params => {:tab => 'recaptures'}).to_s) %>');
<% elsif params[:tab] == 'draft_captures' %>
  $('#draft_captures_view').html('<%= escape_javascript render(:partial => 'anglers/draft_capture', :collection => @draft_captures) %>');
  $('#draft_captures_paginator').html('<%= escape_javascript (paginate(@draft_captures, :remote => true, :params => {:tab => 'draft_captures'}).to_s) %>');
<% elsif params[:tab] == 'tags' %>
  $('#tags_view').html('<%= escape_javascript render(:partial => 'anglers/tag', :collection => @tags) %>');
  $('#tags_paginator').html('<%= escape_javascript (paginate(@tags, :remote => true, :params => {:tab => 'tags'}).to_s) %>');
<% end %>

$("tr[data-link] td").unbind('click');

$("tr[data-link] td").click(function () {
  if(!$(this).hasClass('capture-verify')){
    var selector = $(this).closest('tr');
    window.location = selector.attr('data-link');
  }
});