- d = rand(100000)

.loader{ :class => "loader-#{d.to_s}"}
  .message
    Loading #{name}...
    = image_tag(asset_path('ajax-loader.gif'))


:javascript
  var QUEUED_LOADERS = QUEUED_LOADERS || [];
  var clazz = ".loader-#{d}";
  var panel = $(clazz).closest(".panel");
  $(panel).find(".count").html("Loading...");
  // Hide the table while the results are loading.
  panel.find(".panel-table").hide();
  QUEUED_LOADERS.push(function(){
    var clazz = ".loader-#{d}";
    var p = $(clazz).closest(".panel");
    console.log("Loading #{q}...");
    $.ajax({
        type: 'GET',
        url: "/get_search_data",
        dataType:"xml",
        data: {
            term: "#{escape_javascript(term)}",
            q: "#{escape_javascript(q.to_s)}"
        }
    }).success(function(html) {
        var searchData = $(html);
        console.log(searchData.find(".results-rows"));
        p.find(".message").hide();
        console.log("Successfully loaded #{q}.");
        p.find(".table tbody").html(searchData.find(".results-rows").html());
        p.find('.table').dataTable();
        p.find('.panel-table').show();
        p.find(".count").html(searchData.find(".results-count").html())
    }).fail(function(xhr, status, error) {
      console.log("Failed to fetch #{q}.");
      p.find(".message").html("Failed to load data. Please try again.");
      p.find(".count").html("ERROR");
    }).always(function(){
      window.setTimeout(function(){
        if (QUEUED_LOADERS.length > 0){
            var f = QUEUED_LOADERS.shift();
            f.call();
          }
      },250);
    });
  });