%h1 Search
#accordion.panel-group

  - if can? :read, Capture
    = render :partial => 'search/sections/captures', :locals => { :name => 'Captures', :results => @results[:captures], :q => :captures, :term => @term }

  - if can? :read, Recapture
    = render :partial => 'search/sections/recaptures', :locals => { :name => 'Recaptures', :results => @results[:recaptures], :q => :recaptures, :term => @term  }

  - if can? :read, Capture
    = render :partial => 'search/sections/unverified_captures', :locals => { :name => 'Unverified Captures', :results => @results[:unverified_captures], :q => :unverified_captures, :term => @term  }

  - if can? :read, Recapture
    = render :partial => 'search/sections/unverified_recaptures', :locals => { :name => 'Unverified Recaptures', :results => @results[:unverified_recaptures], :q => :unverified_recaptures, :term => @term  }

  - if can? :read, DraftCapture
    = render :partial => 'search/sections/draft_captures', :locals => { :name => 'Draft Captures', :results => @results[:draft_captures], :q => :draft_captures, :term => @term  }

  - if can? :read, Angler
    = render :partial => 'search/sections/anglers', :locals => { :name => 'Anglers', :results => @results[:anglers], :q => :anglers, :term => @term }

  - if can? :read, VolunteerTimeLog
    = render :partial => 'search/sections/volunteer_hours', :locals => { :name => 'Volunteer Time Logs', :results => @results[:volunteer_time_logs], :q => :volunteer_time_logs, :term => @term  }

  - if can? :read, User
    = render :partial => 'search/sections/users', :locals => { :name => 'Users', :results => @results[:users], :q => :users, :term => @term  }

  - if can? :read, Tag
    = render :partial => 'search/sections/tags', :locals => { :name => 'Tags', :results => @results[:tags], :q => :tags, :term => @term }

:javascript
  var QUEUED_LOADERS = QUEUED_LOADERS || [];
  if (QUEUED_LOADERS.length > 0){
    QUEUED_LOADERS.shift().call();
  }