<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" style="width: 95%">
    <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Captures</h4>
      </div>

      <div class="modal-body">
        <div class="table-container">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th>Angler ID</th>
              <th>Name</th>
              <th>Tag</th>
              <th>Date</th>
              <th>Species</th>
              <th>Length</th>
              <th>Latitude</th>
              <th>Longitude</th>
              <th>Condition</th>
              <th>Recaptured</th>
              <th>Time</th>
              <th>Entered</th>
              <th>Open</th>
            </tr>
          </thead>

          <tbody>
          </tbody>
        </table>
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>

    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
