<table id="<%= id %>" class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Angler ID</th>
      <th>Name</th>
      <th>Start Time</th>
      <th>End Time</th>
      <th>Hours</th>
      <th>Verified</th>
      <th>Entered</th>
      <th># Captures</th>
      <th>Edit</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>