body.news-items {
  .index {
    $color_shady_lady_approx: #a9a9a9;
    $white_100: rgba(255,255,255,1);

    .item-index-content {
      width: 800px;

      .title {
        font-size: 1.15em;
      }

      .gradientEllipsis {
        position: relative;
        white-space: nowrap;
        overflow: hidden;
        height: 20px;
        max-width: 800px;
        color: $color_shady_lady_approx;

        .dimmer {
          display: block;
          position: absolute;
          right: 0;
          top: 0;
          bottom: 0;
          width: 50px;
          filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=1 );
          background: linear-gradient(left, rgba(255,255,255,0) 0,$white_100 56%,$white_100 100%);
          content: "";
        }

      }
    }
  }
}