%tr
  %td= scratch_capture_row.angler_number
  %td= scratch_capture_row.tag_number
  %td= scratch_capture_row.angler_name
  %td= scratch_capture_row.created_at.strftime('%m/%d/%y')
  %td= link_to 'Show', scratch_capture_row
  %td= link_to 'Edit', edit_scratch_capture_path(scratch_capture_row)
  %td= link_to 'Convert', convert_to_recapture_scratch_capture_path(scratch_capture_row), method: :post