<h1>Blurbs</h1>

<%= form_for @blurb do |f| %>

  <div class="row">
    <div class="col-md-12">
      <h3>Capture Dashboard</h3>
      <%= f.text_area :capture_dashboard, class: 'summernote' %>
    </div>
  </div>

  <br/>

  <div class="row ">
    <div class="col-md-12">
      <h3>New Capture</h3>
      <%= f.text_area :new_capture, class: 'summernote' %>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-12">
      <h3>My Tags</h3>
      <%= f.text_area :my_tags, class: 'summernote' %>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-12">
      <h3>Request Tags</h3>
      <%= f.text_area :order_tags, class: 'summernote' %>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-12">
      <h3>Find a spot</h3>
      <%= f.text_area :find_a_spot, class: 'summernote' %>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-12">
      <h3>Common Fish</h3>
      <%= f.text_area :common_fish, class: 'summernote' %>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-12">
      <h3>Target Species</h3>
      <%= f.text_area :target_species, class: 'summernote' %>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-12">
      <h3>About Program</h3>
      <%= f.text_area :about_program, class: 'summernote' %>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-12">
      <h3>Sign Up</h3>
      <%= f.text_area :sign_up, class: 'summernote' %>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-12">
      <h3>How To Tag</h3>
      <%= f.text_area :how_to, class: 'summernote' %>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-12">
      <h3>Licensing</h3>
      <%= f.text_area :licensing, class: 'summernote' %>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-12">
      <h3>Volunteer Hours</h3>
      <%= f.text_area :volunteer_hours, class: 'summernote' %>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-12">
      <h3>Contact Info</h3>
      <%= f.text_area :contact_info, class: 'summernote' %>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-12">
      <h3>Non Registered Capture</h3>
      <%= f.text_area :non_registered_capture, class: 'summernote' %>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-12">
      <h3>Login</h3>
      <%= f.text_area :login, class: 'summernote' %>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-12">
      <h3>My Captures</h3>
      <%= f.text_area :my_captures, class: 'summernote' %>
    </div>
  </div>

  <br/>

  <div class="row">
    <div class="col-md-12">
      <h3>Pending Captures</h3>
      <%= f.text_area :draft_captures, class: 'summernote' %>
    </div>
  </div>

  <br/>


    <div class="row">
      <div class="col-md-12">
        <h3>Contact Us</h3>
        <%= f.text_area :contact_us, class: 'summernote' %>
      </div>
    </div>

    <br/>


    <div class="row">
      <div class="col-md-12">
        <h3>Account Info</h3>
        <%= f.text_area :account_info, class: 'summernote' %>
      </div>
    </div>

    <br/>


    <div class="row">
      <div class="col-md-12">
        <h3>FAQ</h3>
        <%= f.text_area :faq, class: 'summernote' %>
      </div>
    </div>

    <br/>


    <div class="row">
      <div class="col-md-12">
        <h3>Privacy Policy</h3>
        <%= f.text_area :privacy_policy, class: 'summernote' %>
      </div>
    </div>

  <button type="submit" class="btn btn-default">Update Blurbs</button>

<% end %>