<% @blurbs.each do |blurb| %>
  <div class="container">
    <h1 class="pull-left">Listing blurbs</h1>

    <%= link_to 'Edit', edit_blurb_path(blurb), :class => 'btn btn-default btn-lg pull-right', :style => 'margin-top: 22px' %>

    <div class="clearfix"></div>

    <div class="row">
      <div class="col-md-6 blurbs-preview" style="height: 175px">
        <div class="inner-div">
          <%= blurb.capture_dashboard.html_safe %>
        </div>
      </div>
      <div class="col-md-6 blurbs-preview" style="height: 175px">
        <div class="inner-div">
          <%= blurb.new_capture.html_safe %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 blurbs-preview" style="height: 175px">
        <div class="inner-div">
          <%= blurb.my_tags.html_safe %>
        </div>
      </div>
      <div class="col-md-6 blurbs-preview" style="height: 175px">
        <div class="inner-div">
          <%= blurb.order_tags.html_safe %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 blurbs-preview" style="height: 175px">
        <div class="inner-div">
          <%= blurb.find_a_spot.html_safe %>
        </div>
      </div>
      <div class="col-md-6 blurbs-preview" style="height: 175px">
        <div class="inner-div">
          <%= blurb.common_fish.html_safe %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 blurbs-preview" style="height: 175px">
        <div class="inner-div">
          <%= blurb.target_species.html_safe %>
        </div>
      </div>
      <div class="col-md-6 blurbs-preview" style="height: 175px">
        <div class="inner-div">
          <%= blurb.about_program.html_safe %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 blurbs-preview" style="height: 175px">
        <div class="inner-div">
          <%= blurb.sign_up.html_safe %>
        </div>
      </div>
      <div class="col-md-6 blurbs-preview" style="height: 175px">
        <div class="inner-div">
          <%= blurb.how_to.html_safe %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 blurbs-preview" style="height: 175px">
        <div class="inner-div">
          <%= blurb.licensing.html_safe %>
        </div>
      </div>
      <div class="col-md-6 blurbs-preview" style="height: 175px">
        <div class="inner-div">
          <%= blurb.volunteer_hours.html_safe %>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6 blurbs-preview" style="height: 175px">
        <div class="inner-div">
          <%= blurb.contact_info.html_safe %>
        </div>
      </div>
    </div>
  </div>
<% end %>