<p id="notice"><%= notice %></p>

<p>
  <b>Capture dashboard:</b>
  <%= @blurb.capture_dashboard %>
</p>

<p>
  <b>New capture:</b>
  <%= @blurb.new_capture %>
</p>

<p>
  <b>My tags:</b>
  <%= @blurb.my_tags %>
</p>

<p>
  <b>Order tags:</b>
  <%= @blurb.order_tags %>
</p>

<p>
  <b>Find a spot:</b>
  <%= @blurb.find_a_spot %>
</p>

<p>
  <b>Common fish:</b>
  <%= @blurb.common_fish %>
</p>

<p>
  <b>Target species:</b>
  <%= @blurb.target_species %>
</p>

<p>
  <b>About program:</b>
  <%= @blurb.about_program %>
</p>

<p>
  <b>Sign up:</b>
  <%= @blurb.sign_up %>
</p>

<p>
  <b>How to:</b>
  <%= @blurb.how_to %>
</p>

<p>
  <b>Licensing:</b>
  <%= @blurb.licensing %>
</p>

<p>
  <b>Volunteer hours:</b>
  <%= @blurb.volunteer_hours %>
</p>

<p>
  <b>Contact info:</b>
  <%= @blurb.contact_info %>
</p>


<%= link_to 'Edit', edit_blurb_path(@blurb) %> |
<%= link_to 'Back', blurbs_path %>
