- item = show_tab
- modal_id = history_modal_name(item)

.row
  .col-md-4
    %h2.class-name= item.class.name
  .col-md-8
    .btn-group.pull-right{'aria-label' => 'actions', role: 'group'}
      - unless item.confirmed?
        = link_to 'CONFIRM', verify_capture_path(item), method: :post, class: 'btn btn-default'
      = link_to 'CONVERT TO RECAPTURE', convert_to_other_capture_path(item),  data: { confirm: 'Are you sure you want to convert this item?'}, class: 'btn btn-warning'
      = link_to 'EDIT', edit_capture_path(item), class: 'btn btn-default'
      = link_to 'IMAGES', '#', class: 'btn btn-info', data: { toggle: :modal, target: "##{capture_images_modal_name(item)}"} if item.has_images?
      = link_to 'PREVIOUS', capture_path(item.tag.get_previous_capture), class: 'btn btn-default'
      = link_to 'NEXT', capture_path(item.tag.get_next_capture), class: 'btn btn-default'
      = link_to 'HISTORY', '#', class: 'btn btn-default', data: { toggle: :modal, target: "##{modal_id}"} unless item.versions.empty?
      .btn-group{:role => "group"}
        %button.btn.btn-default.dropdown-toggle{'aria-expanded' => 'false', 'aria-haspopup' => 'true', 'data-toggle' => 'dropdown', type: 'button'}
          Reports
          %span.caret
        %ul.dropdown-menu
          %li= link_to 'Release Angler', report_capture_path(item.id), :target => '_blank'
          %li= link_to 'Release Angler (PDF)', report_capture_path(item.id, :format => :pdf), :target => '_blank'
      = link_to('DELETE', capture_path(item), :method => :delete, data: { confirm: 'Are you sure you want to delete this item?'}, :class => 'btn btn-danger')

= render partial: 'fish_entry_common/partials/show', object: item
= render partial: 'fish_entry_common/modals/history', object: item, locals: { modal_id: modal_id }
= render partial: 'fish_entry_common/modals/images', object: item, locals: { modal_id: capture_images_modal_name(item) }