<h1>Upload Spreadsheet</h1>

<div class="table-container">
  <div class="row">
    <div class="col-md-10">
      <%= form_tag import_captures_path, {multipart: true, role: :form, class: 'form-inline'} do %>

          <div class="input-group">
                <span class="input-group-btn">
                    <span class="btn btn-primary btn-file">
                        Browse&hellip; <%= file_field_tag :file %>
                    </span>
                </span>
            <input type="text" class="form-control" readonly>
          </div>


      <% end %>
    </div>
    <div class="col-md-2">
      <%= link_to font_awesome_icon('fa-download', text: 'Download Template'), asset_path('New_Capture_Spreadsheet.xlsx'), {class: 'btn btn-default', rel: :nofollow} %>
    </div>

  </div>
</div>
