<% if params[:tab] == 'captures' %>
    $('#captures_view').html('<%= escape_javascript render(:partial => 'captures/capture', :collection => @objects[:captures]) %>');
    $('.captures_paginator').html('<%= escape_javascript (paginate(@objects[:captures], :remote => true, :params => {:tab => 'captures'}).to_s) %>');
<% elsif params[:tab] == 'captures_unverified' %>
    $('#captures_unverified_view').html('<%= escape_javascript render(:partial => 'captures/unverified_capture', :collection => @objects[:unverified_captures]) %>');
    $('.captures_unverified_paginator').html('<%= escape_javascript (paginate(@objects[:unverified_captures], :remote => true, :params => {:tab => 'captures_unverified'}).to_s) %>');
<% elsif params[:tab] == 'recaptures' %>
    $('#recaptures_view').html('<%= escape_javascript render(:partial => 'recaptures/recapture', :collection => @objects[:recaptures]) %>');
    $('.recaptures_paginator').html('<%= escape_javascript (paginate(@objects[:recaptures], :remote => true, :params => {:tab => 'recaptures'}).to_s) %>');
<% elsif params[:tab] == 'recaptures_unverified' %>
    $('#recaptures_unverified_view').html('<%= escape_javascript render(:partial => 'recaptures/unverified_recapture', :collection => @objects[:unverified_recaptures]) %>');
    $('.unverified_recaptures_paginator').html('<%= escape_javascript (paginate(@objects[:unverified_recaptures], :remote => true, :params => {:tab => 'recaptures_unverified'}).to_s) %>');
<% else %>
    $('#draft_captures_view').html('<%= escape_javascript render(:partial => 'captures/draft_capture', :collection => @objects[:draft_captures]) %>');
    $('.draft_captures_paginator').html('<%= escape_javascript (paginate(@objects[:draft_captures], :remote => true, :params => {:tab => 'draft_captures'}).to_s) %>');
    bindToolTips();
<% end %>

$("tr[data-link] th").unbind('click');

$("tr[data-link] th").click(function () {
  var selector = $(this).closest('tr');
  window.location = selector.attr('data-link');
});

$("tr[data-link] td").unbind('click');

$("tr[data-link] td").click(function () {
    if (!$(this).hasClass('capture-verify')) {
        var selector = $(this).closest('tr');
        window.location = selector.attr('data-link');
    }
});


