<div>
  <h1 class="pull-left">Captures</h1>
  <%= link_to '<i class="fa fa-plus" style="font-size: 1em; margin-left: -1px;"></i> New Capture'.html_safe, new_capture_path, :class => 'btn btn-success subtitle-button green-button pull-right' %>
</div>

<div style="clear:both"></div>

<div>
  <ul class="nav nav-tabs"  id="myTab">
    <li id="captures"><a href="#tabs-1" data-toggle="tab">Captures</a></li>
    <li id="captures_unverified"><a href="#tabs-2" data-toggle="tab">Unverified Captures</a></li>
    <li id="recaptures"><a href="#tabs-3" data-toggle="tab">Recaptures</a></li>
    <li id="recaptures_unverified"><a href="#tabs-4" data-toggle="tab">Unverified Recaptures</a></li>
    <li id="draft_captures"><a href="#tabs-5" data-toggle="tab">Draft Captures</a></li>
  </ul>

  <div class="tab-content">
    <div id="tabs-1" class="tab-pane fade in">
      <%= render :partial => 'captures/index_tables/capture' %>
    </div>

    <div id="tabs-2" class="tab-pane fade in">
      <%= render :partial => 'captures/index_tables/unverified_capture' %>
    </div>

    <div id="tabs-3" class="tab-pane fade in">
      <%= render :partial => 'captures/index_tables/recapture' %>
    </div>

    <div id="tabs-4" class="tab-pane fade in">
      <%= render :partial => 'captures/index_tables/unverified_recapture' %>
    </div>

    <div id="tabs-5" class="tab-pane fade in">
      <%= render :partial => 'captures/index_tables/draft_capture' %>
    </div>
  </div>
</div>
