<% if params[:tab] == 'captures' %>
$('#captures_view').html('<%= escape_javascript render(:partial => 'captures/capture', :collection => @captures) %>');
$('.captures_paginator').html('<%= escape_javascript (paginate(@captures, :remote => true, :params => {:tab => 'captures', :capture => params[:capture]}).to_s) %>');
<% elsif params[:tab] == 'captures_unverified' %>
$('#captures_unverified_view').html('<%= escape_javascript render(:partial => 'captures/unverified_capture', :collection => @unverified_captures) %>');
$('.captures_unverified_paginator').html('<%= escape_javascript (paginate(@unverified_captures, :remote => true, :params => {:tab => 'captures_unverified', :capture => params[:capture]}).to_s) %>');
<% else %>
$('#draft_captures_view').html('<%= escape_javascript render(:partial => 'captures/draft_capture', :collection => @draft_captures) %>');
$('.draft_captures_paginator').html('<%= escape_javascript (paginate(@draft_captures, :remote => true, :params => {:tab => 'draft_captures', :capture => params[:capture]}).to_s) %>');
<% end %>
$("tr[data-link] td").unbind('click');

$("tr[data-link] td").click(function () {
    if (!$(this).hasClass('capture-verify')) {
        var selector = $(this).closest('tr');
        window.location = selector.attr('data-link');
    }
});