%h1= @capture.tag_number

-# The tab selector
%ul.nav.nav-tabs{:role => "tablist"}
  %li.active{:role => "presentation"}
    %a{'aria-controls' => "capture", 'data-toggle' => 'tab', :href => '#capture', :role => 'tab'}= format_capture_tab(@capture)
  -# add the tabs for any recaptures for this capture
  - @capture.recaptures.each_with_index do |recapture, index|
    %li{:role => 'presentation'}
      %a{'aria-controls' => "#{index.to_words}", 'data-toggle' => 'tab', href: "##{index.to_words}", role: 'tab'}= format_capture_tab(recapture)

-# The tab panes
.tab-content
  #capture.tab-pane.active{role: 'tabpanel', data: { path: geo_json_capture_path(@capture) } }
    = hidden_field_tag :id, @capture.id, class: 'id'
    = render partial: 'show_tab', object: @capture
  -# Also add the panes for each recapture
  - @capture.recaptures.each_with_index do |recapture, index|
    .tab-pane{role: 'tabpanel', id: "#{index.to_words}", data: { path: geo_json_recapture_path(recapture) }}
      = hidden_field_tag :id, recapture.id, class: 'id'
      = render partial: 'recaptures/show_tab', object: recapture