<%= form_for @user_tag_request do |f| %>
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :angler_id %>
        <%= f.text_field :angler_id, :class => 'form-control' %>
      </div>
    </div>
    </div>

  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <%= f.label :number_of_tags %>
        <%= f.number_field :number_of_tags, :class => 'form-control' %>
      </div>
    </div>
  </div>

  <div class="row">
  <div class="col-md-12">
      <div class="form-group">
        <%= f.label :tag_type %>
        <%= f.select :tag_type, ['Redfish/Trout Tags', 'Inshore Tags'], {}, {:class => 'form-control'} %>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <div class="checkbox">
        <label>
          <%= f.check_box :fulfilled %>Fulfilled
        </label>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-default pull-right">Save</button>
    </div>
  </div>
<% end %>
