<h1 class="pull-left">User Tag Requests</h1>

<div class="clearfix"></div>

<div>
  <ul class="nav nav-tabs" id="myTab">
    <li><a href="#tabs-1" data-toggle="tab">Unfulfilled User Tag Requests</a></li>
    <li><a href="#tabs-2" data-toggle="tab">Fulfilled User Tag Requests</a></li>
  </ul>

  <div class="tab-content">
    <div id="tabs-1" class="tab-pane fade in">
      <%= render :partial => 'user_tag_requests/index/table', :locals => {id: 'unFulfilledRequestsList'} %>
    </div>

    <div id="tabs-2" class="tab-pane fade">
      <%= render :partial => 'user_tag_requests/index/table', :locals => {id: 'fulfilledRequestsList'} %>
    </div>
  </div>
</div>