<% if params[:tab] == 'user_tag_requests' %>
$('#user_tag_requests_view').html('<%= escape_javascript render(:partial => 'user_tag_requests/tag_request', :collection => @user_tag_requests) %>');
$('.user_tag_requests_paginator').html('<%= escape_javascript (paginate(@user_tag_requests, :remote => true, :params => {:tab => 'user_tag_requests'}).to_s) %>');
<% else %>
$('#fulfilled_user_tag_requests_view').html('<%= escape_javascript render(:partial => 'user_tag_requests/tag_request', :collection => @fulfilled_user_tag_requests) %>');
$('.fulfilled_user_tag_requests_paginator').html('<%= escape_javascript (paginate(@fulfilled_user_tag_requests, :remote => true, :params => {:tab => 'fulfilled_user_tag_requests'}).to_s) %>');
<% end %>