@import '../common/variables';
@import '../utils/mixins/material_shadow';
@import '../utils/mixins/screen_widths';

body.welcome {

  //colors
  $color_quill_gray_approx: lightgray;
  $black: #000000;
  $color_shady_lady_approx: #a9a9a9;
  $white: white;

  h1 {
    text-align: center;
  }

  // basic styling for the cards
  .card {
    padding: 16px;
    background-color: whitesmoke;

    @include bp(md) {
      margin-top: 16px;
    }

    // overwriting the bootstrap margins
    h3 {
      padding-top: 0;
      margin-top: 0;
    }
  }

  // used for value cards
  .card-value {
    h3 {
      margin-bottom: 10px;
    }

    .text {
      margin: 0 auto;
      font-size: 1.2em;
    }

    .chart {
      width: 100%;
      min-height: 200px;

      canvas {
        display: none;
        height: 100%;
        width: 100%;
      }

      .loading {
        padding-top: 75px;
        font-size: 2.0em;
      }
    }
  }

  // used for species cards
  .card-species {
    table {
      border: solid 2px $fish_la_blue;
      margin-bottom: 0;
      margin-top: 16px;

      tr.total {
        font-weight: bold;
      }
    }

    form {
      .btn {
        margin-top: 0;

        @include bp(md) {
          margin-top: 10px;
        }
      }

      .year-field {
        margin-top: 0;

        @include bp(xs) {
          margin-top: 10px;
        }
      }
    }

    .results {
      .loading {
        padding-top: 75px;
        padding-bottom: 75px;
        text-align: center;
        font-size: 2.0em;
      }

      .placeholder {
        padding-top: 75px;
        padding-bottom: 75px;
        text-align: center;
        font-size: 1.5em;
        color: $fish_la_blue;
      }
    }
  }

  .card-map {
    #dashboard_map_canvas {
      height: 600px;

      @include bp(md) {
        height: 400px !important;
      }
    }
  }

  .card-map-form {
    .btn.range {
      margin-top: 0;

      @include bp(xs) {
        margin-top: 10px;
      }
    }
  }

  // the rows should have a margin of 16px to give som space between them
  .row {
    margin-top: 16px;

    // when on the smaller screen we are going to use the cards to set the margins
    @include bp(md) {
      margin-top: 0;
    }
  }

  // on the first row we are going to set margin to 0
  .row:nth-of-type(1) {
    margin-top: 0;
  }

  .legend {
    line-height: 18px;
    color: #555;

    .gradient {
      margin-top: -14px;
    }

    .gradient:nth-of-type(1) {
      margin-top: 0;
    }

    i {
      width: 18px;
      height: 18px;
      float: left;
      margin-right: 8px;
      opacity: 0.7;
    }
  }

  .info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255,255,255,0.8);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
  }

  .info h2 {
    margin: 0 0 5px;
  }

}