<%= form_for(@species, :html => {:multipart => true, :id => "fileupload"}) do |f| %>
  <% if @species.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@species.errors.count, "error") %> prohibited this species from being saved:</h2>

      <ul>
        <% @species.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="flash">
    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <% if flash[:error] %>
      <p class="error"><%= flash[:error] %></p>
    <% end %>
  </div>


  <div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Image</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-4">
            <div class="input-group">
              <span class="input-group-btn">
                <span class="btn btn-default btn-file">
                  Browse… <%= file_field_tag :photo %>
                </span>
              </span>

              <input type="text" class="form-control" readonly="">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Internal Use Fields</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3 field">
            <%= f.label :common_name %>
            <%= f.text_field :common_name, :class => 'form-control' %>
          </div>

          <div class="col-md-3 field">
            <%= f.label :species_code %>
            <%= f.text_field :species_code, :class => 'form-control' %>
          </div>
        </div>
      </div>
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Publicly Displayed Fields</h3>
      </div>
      <div class="panel-body">
        <div class="row">
          <div class="col-md-3 field">
            <%= f.label 'Scientific Name' %>
            <%= f.text_field :name, :class => 'form-control' %>
          </div>

          <div class="col-md-3 field">
            <%= f.label :proper_name %>
            <%= f.text_field :proper_name, :class => 'form-control' %>
          </div>

          <div class="col-md-3 field">
            <%= f.label :other_name %>
            <%= f.text_field :other_name, :class => 'form-control' %>
          </div>

          <div class="col-md-3 field">
            <%= f.label :family %>
            <%= f.text_field :family, :class => 'form-control' %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 field">
            <%= f.label :habitat %>
            <%= f.text_area :habitat, :class => 'editor' %>
          </div>

          <div class="col-md-6  field">
            <%= f.label :description %>
            <%= f.text_area :description, :class => 'editor' %>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 field">
            <%= f.label :size %>
            <%= f.text_area :size, :class => 'editor' %>
          </div>

          <div class="col-md-6 field">
            <%= f.label :food_value %>
            <%= f.text_area :food_value, :class => 'editor' %>
          </div>
        </div>
      </div>
    </div>

    <br>

    <div class="actions">
      <%= f.submit :class => 'btn btn-default btn-lg' %>
    </div>
  </div>
<% end %>

<script>
  var fileUploadErrors = {
    maxFileSize: 'File is too big',
    minFileSize: 'File is too small',
    acceptFileTypes: 'Filetype not allowed',
    maxNumberOfFiles: 'Max number of files exceeded',
    uploadedBytes: 'Uploaded bytes exceed file size',
    emptyResult: 'Empty file upload result'
  };
</script>