  <%= link_to '<i class="fa fa-plus"></i> New Species'.html_safe, new_species_path, :class => 'btn btn-default' %>

  <br/>

  <ul class="nav nav-tabs" id="myTab">
    <li class="active"><a href="#card-0" data-toggle="tab">Publish and Target</a></li>
    <li><a href="#card-1" data-toggle="tab">Species Order</a></li>
    <li><a href="#card-2" data-toggle="tab">Target Species Order</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div id="card-0" class="tab-pane fade in active card">
      <ul id="species">
        <% Species.all.each do |fish| %>
          <li id="fish_<%= fish.id %>" class="clearfix">
            <!--<span class="handle">[drag]</span>-->

            <div class="cell handle">
              <table>
                <tbody>
                <tr>
                  <td>
                    <div><%= image_tag fish.photo.url(:thumb) %></div>
                  </td>
                  <td >
                    <div class="name"><%= fish.common_name %></div>
                  </td>
                  <td style="padding-right: 30px;">
                    <%= link_to('<i class="fa fa-pencil"></i> Edit'.html_safe, edit_species_path(fish), :class => 'btn btn-default pull-right') %>
                  </td>

                  <td>
                    <label class="checkbox inline">
                      <%= check_box_tag(:publish, true, fish.publish, data: {
                          remote: true,
                          url: url_for(action: :update_published, id: fish.id),
                          method: 'post'
                      }, :class => 'publish') %>
                      Publish
                    </label>
                  </td>

                  <td>
                    <label class="checkbox inline">
                      <%= check_box_tag(:target, true, fish.target, data: {
                          remote: true,
                          url: url_for(action: :update_target, id: fish.id),
                          method: 'post'
                      }, :class => 'target') %>
                      Target
                    </label>
                  </td>

                </tr>
                </tbody>
              </table>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="card-1" class="tab-pane fade card">
      <ul id="species-order">
        <% Species.ordinal.each do |fish| %>
          <li id="fish_<%= fish.id %>" class="clearfix">
            <!--<span class="handle">[drag]</span>-->

            <div class="cell handle">
              <table>
                <tbody>
                <tr>
                  <td style="width: 150px">
                    <div><%= image_tag fish.photo.url(:thumb) %></div>
                  </td>
                  <td style="width: 150px;">
                    <div class="name"><%= fish.common_name %></div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
    <div id="card-2" class="tab-pane fade card">
      <ul id="target-order">
        <% Species.target.each do |fish| %>
          <li id="fish_<%= fish.id %>" class="clearfix">
            <!--<span class="handle">[drag]</span>-->

            <div class="cell handle">
              <table>
                <tbody>
                <tr>
                  <td style="width: 150px">
                    <div><%= image_tag fish.photo.url(:thumb) %></div>
                  </td>
                  <td style="width: 150px;">
                    <div class="name"><%= fish.common_name %></div>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </li>
        <% end %>
      </ul>
    </div>
</div>