<% content_for :head do %>
    <%= javascript_include_tag "application-species" %>
<% end %>

<p id="notice"><%= notice %></p>

<p>
  <b>Common name:</b>
  <%= @species.common_name %>
</p>

<p>
  <b>Species code:</b>
  <%= @species.species_code %>
</p>

<p>
  <b>Item position:</b>
  <%= @species.position %>
</p>

<p>
  <b>Proper Name:</b>
  <%= @species.proper_name %>
</p>

<p>
  <b>Other Names:</b>
  <%= @species.other_name %>
</p>

<p>
  <b>Family:</b>
  <%= @species.family %>
</p>

<p>
  <b>Habitat:</b>
  <%= @species.habitat.html_safe unless @species.habitat.nil? %>
</p>

<p>
  <b>Description:</b>
  <%= @species.description.html_safe unless @species.description.nil? %>
</p>

<p>
  <b>Size:</b>
  <%= @species.size.html_safe unless @species.size.nil?  %>
</p>

<p>
  <b>Food Value:</b>
  <%= @species.food_value.html_safe unless @species.food_value.nil? %>
</p>
<p>
  <%= image_tag @species.photo.url %>
</p>


<%= link_to 'Edit', edit_species_path(@species) %> |
<%= link_to 'Back', species_index_path %>
