/**
 * Created with JetBrains RubyMine.
 * User: daniel
 * Date: 4/1/13
 * Time: 11:26 AM
 * To change this template use File | Settings | File Templates.
 */
<% if Species.ordinal %>
  $('#species-order').empty();
  <% Species.ordinal do |fish| %>
    <% if fish.publish %>
      <% image = image_tag fish.photo.url(:thumb) %>
      <% image = image.gsub('"','\"') %>
      $('#species-order').append("<li id=\"fish_<%= fish.id %>\" class=\"clearfix\"><div class=\"cell handle\"><table><tbody><tr><td style=\"width: 150px\"><div><%=image.html_safe%></div></td><td style=\"width: 150px;\"><div class=\"name\"><%= fish.common_name %></div></td></tr></tbody></table></div></li>");
    <% end %>
  <% end %>
<% end %>

$('#messages').empty();