- if form_flash_messages.errors.any?
  .alert.alert-danger.alert-dismissible
    %button.close{'aria-label' => 'Close', 'data-dismiss' => 'alert', type: 'button'}
      %span{'aria-hidden' => 'true'} &times;
    %ul
      - form_flash_messages.errors.full_messages.each do |msg|
        %li= msg