.notification-content
  - if notifications.any?
    .header.text-center
      = "Page #{params[:page] || 1} of #{notifications.total_pages}"
    = render partial: 'notifications/row_item', collection: notifications
    .navigation.row
      .col-md-4
        = link_to_previous_page notifications, 'Prev', remote: true, class: 'pull-left', params: { format: :js, controller: :notifications, action: :index, target: '#notification_content'}
      .col-md-4.text-center
        = link_to 'Clear All', destroy_all_notifications_path, class: 'text-danger', remote: true, method: :delete
      .col-md-4
        = link_to_next_page notifications, 'Next', remote: true, class: 'pull-right', params: { format: :js, controller: :notifications, action: :index, target: '#notification_content'}
    .clear-fix
  - else
    .all_read All caught up :)
