var $selector = $('.notification-item[data-id="<%= notification.id %>"]');
//console.log($selector.find('.overlay'));
$selector.hide('.overlay');
//console.log($selector.find('.overlay'));
$selector.hide("slide", { direction: "left" }, 1000, function() {
  $selector.remove();

  setTimeout(
      function()
      {
        <%= render partial: 'notifications/repopulate', locals: { notifications: notifications, page: page} %>
      }, 1000);
});