<% inner_html = escape_javascript(render(partial: 'notifications/panel', object: notifications, as: :notifications, locals: {page: page}))  %>
<% count = number_with_delimiter(current_user.notifications.active.count) %>
$('.navbar .notification-anchor').attr('data-count', '<%= count  %>')
$('.notifications.popover #notification_content').html("<%= inner_html %>");
$('.hidden.popover-template #notification_content').html("<%= inner_html %>");