- page = 1 if local_assigns[:page].nil?
.notification-item{ data: { id: row_item.id } }
  = notification_title(row_item)
  = notification_content(row_item)
  = notification_time(row_item)
  = notification_icon(row_item)
  .overlay.clear-fix
    = link_to(font_awesome_icon('fa-external-link', class: 'notification-action notification-open'), notification_path(row_item, page: page || 1), remote: true)
    = link_to(font_awesome_icon('fa-times', class: 'notification-action notification-close'), notification_path(row_item, page: page || 1), method: :delete, remote: true)