.table-container
  = form_for @tag_lot do |f|
    .row
      .col-md-3
        .form-group
          = f.label :tag_lot_number, 'Tag Lot Number'
          = f.number_field :tag_lot_number, class: 'form-control', data: { 'parsley-required' => 'true',  'parsley-type' => 'integer' }
      .col-md-3
        .form-group
          = f.label :manufacturer_id
          = collection_select :tag_lot, :manufacturer_id, Manufacturer.all, :id, :name, {}, {:class => 'form-control chosen-select'}
      .col-md-3
        .form-group
          = f.label :prefix
          = f.text_field :prefix, class: 'form-control', data: { 'parsley-required' => 'true',  'parsley-pattern' => '[A-Za-z]+' }
      .col-md-3
        .form-group
          = f.label :start_no, 'Start No.'
          = f.number_field :start_no, class: 'form-control', data: { 'parsley-required' => 'true',  'parsley-type' => 'integer' }
    .row
      .col-md-3
        .form-group
          = f.label :end_no, 'End No.'
          = f.number_field :end_no, class: 'form-control', data: { 'parsley-required' => 'true',  'parsley-type' => 'integer', 'parsley-greaterthanfield' => '#tag_lot_start_no', 'parsley-greaterthanfield-message' => 'Must be larger than the start number'  }
      .col-md-3
        .form-group
          = f.label :end_user_type, "End User Type"
          = collection_select :tag_lot, :end_user_type, TagEndUserType.all, :id, :name, {} ,{:class => 'form-control chosen-select'}
      .col-md-3
        .form-group
          = f.label :cost
          = f.number_field :cost, class: 'form-control', data: { 'parsley-type' => 'digits' }
    .row
      .col-md-3
        .form-group
          = f.label :order_date, 'Order Date'
          = f.date_picker_field :order_date, class: 'form-control', data: { 'parsley-beforetoday' => '' }
      .col-md-3
        .form-group
          = f.label :received_date, 'Received Date'
          = f.date_picker_field :date_entered, class: 'form-control', data: { 'parsley-beforetoday' => '' }
      .col-md-3
        .form-group
          = f.label :color
          = collection_select :tag_lot, :color, TagLotColor.all, :id, :color, {}, {class: 'form-control chosen-select'}
    .row
      .col-md-3
        .checkbox
          = f.label :ordered, class: ' checkbox-label' do
            = f.check_box :ordered, class: ''
            Ordered
      .col-md-3
        .checkbox
          = f.label :received , class: 'checkbox-label' do
            = f.check_box :received, class: ''
            Received
    .row
      .col-md-3
        = f.submit  'Create Tag Lot', :class => 'btn btn-default'