<h1>Tag Lots</h1>

<div class="table-container">
<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Manufacturer</th>
      <th>Prefix</th>
      <th>Start No.</th>
      <th>End No.</th>
      <th>End User Type</th>
      <th>Color</th>
      <th>Entered</th>
      <th>Ordered</th>
      <th>Order Date</th>
      <th>Received</th>
      <th>Received Date</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>