<p id="notice"><%= notice %></p>

<p>
  <b>Tag lot number:</b>
  <%= @tag_lot.tag_lot_number %>
</p>

<p>
  <b>Manufacturer:</b>
  <%= @tag_lot.manufacturer_id %>
</p>

<p>
  <b>Prefix:</b>
  <%= @tag_lot.prefix %>
</p>

<p>
  <b>Start no:</b>
  <%= @tag_lot.start_no %>
</p>

<p>
  <b>End no:</b>
  <%= @tag_lot.end_no %>
</p>

<p>
  <b>End user type:</b>
  <%= @tag_lot.end_user_type %>
</p>

<p>
  <b>Cost:</b>
  <%= @tag_lot.cost %>
</p>

<p>
  <b>Date entered:</b>
  <%= @tag_lot.date_entered %>
</p>

<p>
  <b>Ordered:</b>
  <%= @tag_lot.ordered %>
</p>

<p>
  <b>Order date:</b>
  <%= @tag_lot.order_date %>
</p>

<p>
  <b>Received:</b>
  <%= @tag_lot.received %>
</p>

<p>
  <b>Received date:</b>
  <%= @tag_lot.received_date %>
</p>

<p>
  <b>Deleted:</b>
  <%= @tag_lot.deleted %>
</p>

<p>
  <b>Color:</b>
  <%= @tag_lot.color %>
</p>


<%= link_to 'Edit', edit_tag_lot_path(@tag_lot) %> |
<%= link_to 'Back', tag_lots_path %>
