%div
  %ul#myTab.nav.nav-tabs
    %li.active
      %a{data: {toggle: 'tab'}, :href => '#tabs-1'} All Items
  .tab-content
    #tabs-1.tab-pane.fade.in.active
      = render partial: 'angler_items/partials/index_table', locals: { items_list: @angler_items, clazz: 'unsent-items'  }