-can_edit = can? :edit, User
-can_destroy = can? :destroy, User
-can_update = can? :update, User
%table{class: ['table', 'table-striped', clazz], id: 'unverifiedUsers' }
  %thead
    %th First Name
    %th Last Name
    %th Email
    %th Angler ID
    %th Date Created
    %th Contacted
    - if can_edit
      %th Edit
    - if can_destroy
      %th Delete
    - if can_update
      %th Reset Password
  %tbody
    =# render partial: 'users/user_row', collection: user_list, locals: {can_edit: can_edit, can_destroy: can_destroy, can_update: can_update}
