%tr
  %td= user_row.first_name
  %td= user_row.last_name
  %td= user_row.email
  %td= user_row.angler.try(:angler_id)
  %td= user_row.created_at.strftime('%m/%d/%y')
  %td= user_row.contacted ? font_awesome_icon('fa-check') : ''
  - if can_edit
    %td= link_to("", edit_user_path(user_row), class: 'btn btn-default fa fa-pencil')
  - if can_destroy
    %td= link_to("", user_path(user_row), method: :delete, data: { confirm: 'Are you sure you want to delete this item?'}, class: 'btn btn-default fa fa-trash-o') unless user_row == current_user
  - if can_update
    %td= link_to('', user_generate_new_password_email_path(user_row), method: :post, class: 'btn btn-default fa fa-unlock')
