.row
  .col-sm-4
    %h1= 'Editing ' + [@user.first_name, @user.last_name].join(' ')
  .col-sm-8
    .btn-toolbar.with-h1-title.pull-right{"aria-label" => 'angler_toolbar', role: 'toolbar'}
      .btn-group{"aria-label" => 'angler_action', role: 'group'}
        = link_to 'Reset Password', user_generate_new_password_email_path(@user), method: :post, class: 'btn btn-default'
        = link_to('Delete', user_path(@user), method: :delete, data: { confirm: 'Are you sure you want to delete this item?'}, class: 'btn btn-danger') unless @user == current_user || cannot?(:destroy, @user)

.table-container
  - angler = @user.angler
  .row
    %div{ class: "#{ angler.nil? ? 'col-md-12' : 'col-md-4' }" }
      = form_for(@user, :html => {:role => 'form', :class => 'form-horizontal'}) do |f|
        = render partial: 'partials/flash_messages', object: f.object
        .row
          .col-md-12
            .checkbox
              = f.label :verified do
                = f.check_box :verified, :class => 'checkbox'
                Approve (Will send acceptance email)

          .col-md-12
            .checkbox
              = f.label :contacted do
                = f.check_box :contacted, :class => 'checkbox'
                Contacted

          .col-md-12
            .checkbox
              = f.label :hidden do
                = f.check_box :hidden, :class => 'checkbox'
                Hidden

        = render :partial => 'users/partials/form_fields', object: f

        .row
          .col-md-3
            %br
            = f.submit 'Update', class: 'btn btn-default form-control'

    - if angler
      .col-md-4
        %h4 Contact Info

        .row
          .col-md-6
            %h5 Phone:
            %h6= angler.phone_number_1
          .col-md-6
            %h5 Shirt Size:
            %h6= angler.shirt_size_name
          .col-md-6
            %h5 Street:
            %h6= angler.street
          .col-md-6
            %h5 Suite:
            %h6= angler.suite
          .col-md-6
            %h5 City:
            %h6= angler.city
          .col-md-6
            %h5 State:
            %h6= angler.state
          .col-md-6
            %h5 Zip:
            %h6= angler.zip
          .col-md-12
            %h5 Comments:
            %h6= angler.comments

      .col-md-4
        = form_tag(with_ids_duplicates_anglers_path, method: :get) do |angler_id_form|
          %h3 Possible anglers that match this user
          = select_tag :angler_ids, options_from_collection_for_select(@anglers, :angler_id, :autocomplete_stuff), multiple: true, class: 'form-control', style: 'height: 220px'
          %br
          = submit_tag 'Merge Into New Angler', :class => 'btn btn-default'