.row
  .col-md-2
    %h1 Users
  .col-md-10
    - if can? :create, User
      = link_to font_awesome_icon('fa-plus', text: 'New User'), new_user_path, class: 'btn btn-default pull-right'

%div
  %ul#myTab.nav.nav-tabs
    -@index_list.values.each_with_index do |table,index|
      %li{class: table[:active] ? 'active' : ''}
        %a{data: {toggle: 'tab'}, href: '#tabs-'+ (index + 1).to_s}= table[:title]
  .tab-content
    -@index_list.values.each_with_index do |table,index|
      .tab-pane{id: 'tabs-'+(index+1).to_s, class: table[:active] ? 'fade in active' : ''}
        = render partial: 'index_table', locals: { user_list: table[:users], clazz: table[:class]}