<h1>New user</h1>
<div class="table-container">
  <%= form_for @user do |form| %>
    <%= render partial: 'users/partials/form_fields', object: form %>

      <div class="row">
        <div class="col-md-2">
          <%= form.submit 'Create', class: 'btn btn-default form-control' %>
        </div>
      </div>
  <% end  %>
</div>