<div class="shadow">

  <div class="container" style="width: 400px">
    <h2 class="text-center">Forgot your password?</h2>

    <br/>

    <div class="clearfix"></div>

    <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <%= f.label :email %>
            <%= f.email_field :email, :class => 'form-control' %>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12">
          <button type="submit" class="btn btn-default">Submit</button>
        </div>
      </div>
    <% end %>
  </div>

</div>

