= form_tag path, remote: true do
  = hidden_field_tag :section, @section
  .row
    .col-md-3
      .form-group
        = label_tag :count, "Min # #{ @section.match(/recapture/) ? 'Recaptures' : 'Captures'}"
        = text_field_tag :count, nil, class: 'form-control',  data: { 'parsley-min' => '1' }
    .col-md-3
      .form-group
        = label_tag :start_date, 'Start Date'
        = date_picker_field_tag :start_date, nil, class: 'form-control',  data: { 'parsley-beforetoday' => '' }
    .col-md-3
      .form-group
        = label_tag :end_date, 'End Date'
        = date_picker_field_tag :end_date, nil, class: 'form-control',  data: { 'parsley-beforetoday' => '', 'parsley-greaterthandatefield' => '#start_date', 'parsley-greaterthandatefield-message' => 'Must be after the start date' }
  .row
    .col-md-1
      = button_tag 'Reset', class: 'btn btn-danger form-control', type: 'reset'
    .col-md-1
      = submit_tag 'Submit', class: 'btn btn-default form-control'

  #results.collapse
    %hr
    .row
      .col-md-2
        %h3 Results
      .col-md-10
        %button.btn.btn-default.download.pull-right{type: 'button'} Download
    %table.table.table-striped
      %thead
        %tr
          %th Angler ID
          %th First Name
          %th Last Name
          %th= "#{ @section.match(/recapture/) ? 'Recapture' : 'Capture'} Count"
          %th.text-center{"data-orderable" => "false"} Details
      %tbody