-# we need to have to locals passed in, :path and :recapture
%section#report_container
  = form_tag path, remote: true, onsubmit: 'downloadWaitingDialog.show("Loading")' do
    = hidden_field_tag :section, @section
    = hidden_field_tag :recapture, recapture

    .row
      .col-md-3
        .form-group
          = label_tag :angler_id, 'Angler ID'
          = autocomplete_field_tag :angler_id, nil, autocomplete_angler_angler_id_anglers_path, class: 'form-control'
      .col-md-3
        .form-group
          = label_tag :group_by, 'Group By'
          = select_tag :group_by, options_for_select([['Species'], ['Angler']]), class: 'form-control chosen-select'
      .col-md-3
        .form-group
          = label_tag :start_date, 'Start Date'
          = date_picker_field_tag :start_date, nil, class: 'form-control',  data: { 'parsley-beforetoday' => ''}
      .col-md-3
        .form-group
          = label_tag :end_date, 'End Date'
          = date_picker_field_tag :end_date, nil, class: 'form-control',  data: { 'parsley-beforetoday' => '', 'parsley-greaterthandatefield' => '#start_date', 'parsley-greaterthandatefield-message' => 'Must be after the start date' }
    .row
      .col-md-1
        = button_tag 'Reset', class: 'btn btn-danger form-control', type: 'reset'
      .col-md-1
        = submit_tag 'Submit', class: 'btn btn-default form-control'

    #results.collapse
      %hr
      .row
        .col-md-2
          %h3 Results
        .col-md-10
          %button.btn.btn-default.pull-right.download{type: 'button'}
            %i.fa.fa-download
            Download
      %table.table.table-striped
        %thead
          %tr
            %th Item
            %th Count
        %tbody