%h1 Dashboard

%div
  %ul#myTab.nav.nav-tabs
    -if can?(:read,User)
      %li#unverified_users
        %a{:href => "#tabs-1", :data => {:toggle => "tab"}} Unverified Users
    -if can?(:read,Capture)
      %li#captures_unverified
        %a{:href => "#tabs-2", :data => {:toggle => "tab"}} Unverified Captures
    -if can?(:read,Recapture)
      %li#recaptures_unverified
        %a{:href => "#tabs-3", :data => {:toggle => "tab"}} Unverified Recaptures
    -if can?(:read,DraftCapture)
      %li#draft_captures_with_errors
        %a{:href => "#tabs-4", :data => {:toggle => "tab"}} Draft Captures with Errors
    -if can?(:read,UserTagRequest)
      %li#unfulfilled_user_tag_requests
        %a{:href => "#tabs-5", :data => {:toggle => "tab"}} Unfulfilled User Tag Requests
    -if can?(:read,AnglerItem)
      %li#angler_items
        %a{:href => "#tabs-6", :data => {:toggle => "tab"}} Items





.tab-content
  -if can?(:read,User)
    #tabs-1.tab-pane.fade.in
      = render partial: 'users/index_table' ,locals: { clazz: 'unverified-users' }
  -if can?(:read,Capture)
    #tabs-2.tab-pane.fade.in
      = render :partial => 'captures/index_tables/unverified_capture'
  -if can?(:read,Recapture)
    #tabs-3.tab-pane.fade.in
      = render :partial => 'captures/index_tables/unverified_recapture'
  -if can?(:read,DraftCapture)
    #tabs-4.tab-pane.fade.in
      = render :partial => 'captures/index_tables/draft_capture'
  -if can?(:read,UserTagRequest)
    #tabs-5.tab-pane.fade.in
      = render :partial => 'user_tag_requests/index/table', :locals => {id: 'unFulfilledRequestsList'}
  -if can?(:read,AnglerItem)
    #tabs-6.tab-pane.fade.in
      = render partial: 'angler_items/partials/index_table', locals: { items_list: @data[:items], clazz: 'unsent-items'}
