body.photos {
  .index {
    .photo-card .info-box {
      padding: 5px;
      height: 50px;
      background-color: #ffffff;
      border-top: 1px solid #a9a9a9;
    }

    .photo-card .info-box .size {
      font-size: .8em;
    }

    .photo-card .image {
      height: 142px;
      width: 150px;

      text-align: center;
      vertical-align: middle;
      padding: 5px;
      background-color: lightgray;

    }

    .template-upload .progress {
      margin-left: 5px;
      margin-right: 5px;
      width: 140px;
    }

    .photo-card .image img {
      max-height: 100%;
      max-width: 100%;
    }

    .photo-card {
      margin: 10px;
      background-color: rgb(68,68,68); /* Needed for IEs */

      -moz-box-shadow: 0px 0px 10px 1px rgba(68,68,68,0.6);
      -webkit-box-shadow: 0px 0px 10px 1px rgba(68,68,68,0.6);
      box-shadow: 0px 0px 10px 1px rgba(68,68,68,0.6);

      filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30);
      -ms-filter: "progid:DXImageTransform.Microsoft.Blur(PixelRadius=3,MakeShadow=true,ShadowOpacity=0.30)";
      zoom: 1;
    }
    .photo-card .content {
      position: relative; /* This protects the inner element from being blurred */
      background-color: #DDD;

      height: 192px;
      width: 150px;

      border: 1px solid #a9a9a9;
    }
  }
}