<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1>Thank you <%= @angler.first_name.capitalize %> <%= @angler.last_name.capitalize %>.</h1>

<p>Thank you for your participation in the Louisiana Cooperative Marine Fish Tagging Program. Attached, you will find
  information pertaining to the fish that was tagged, released, and later recaptured.<br>
  <% if @reward %>
    You will receive an email from social@AFTCO.com explaining how to claim you prize.  <% end %>
  <%= link_to "Recapture Report (PDF)", report_recapture_url(@recapture, :format => :pdf) %>
  <br>
  <br>
  For more information visit <a href="http://www.taglouisiana.com">www.taglouisiana.com</a> or visit us on Facebook:
  <a href="http://www.facebook.com/Tag.Louisiana">www.facebook.com/Tag.Louisiana</a><br>
  <br>
  Thank you,<br>
  Fish Tagging Team</p>

<p>Note: If you see a discrepancy in the data on this report, contact us at taglouisiana@charter.net. Please include the tag number and describe the discrepancy in your email.</p>

</body>
</html>