<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
  <% if @user.is_existing_angler %>
    <h1>Thanks for registering your account, <%= @user.first_name %>!</h1>
    <p>We appreciate your interest in the program. Please sign in and have a look around.</p>
    <p>Since you indicated you're already a member of the program, we'll need some time to link your existing capture history to your new online account. We might contact you using the information you provided if necessary.</p>
  <% else %>
    <h1>Welcome To TAG Louisiana, <%= @user.first_name %>!</h1>
    <p>We appreciate your interest in the program. Please sign in and have a look around.</p>
    <p>We will be in touch with you within 2-4 weeks regarding verifying your account and getting you setup with tagging equipment.</p>
  <% end %>
</body>
</html>