<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1><%= @angler.first_name %> <%= @angler.last_name %> Needs a reward.</h1>

<p>
  Email Address: <%= @angler.email%> <br>
  First Name: <%= @angler.first_name %> <br>
  Last Name: <%= @angler.last_name %> <br>
</p>

</body>
</html>