<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<h1>Congratulations <%= @user.first_name %> <%= @user.last_name %>! You have been verified to participate in the program.</h1>

</body>
</html>