<!DOCTYPE html>
<html>
    <head>
      <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    </head>
    <body>
        <h1>Congratulations <%= @angler.first_name %> <%= @angler.last_name %>! Your fish has been recaptured.</h1>

        <p> Use the following link to view your recapture report for this fish</p>
        <%= link_to "Recapture Report (PDF)", report_capture_url(@capture, format: :pdf) %>

        <p>Note: If you see a discrepancy in the data on this report, contact us at taglouisiana@charter.net. Please include the tag number and describe the discrepancy in your email.</p>
    </body>
</html>