.panel.panel-default
  .panel-heading
    %h4.panel-title
      %a{ data: { parent: "#{parent_selector}", toggle: :collapse }, href: '#assigned_tags_panel'}
        Assigned Tags
      .pull-right
        Results: #{assigned_tags.count}
  #assigned_tags_panel.panel-collapse.collapse
    .panel-body
      %table.table.table-striped
        %thead
          %tr
            %th Start Tag
            %th End Tag
            %th Number of Tags
            %th Date Assigned
        %tbody
          = render :partial => 'anglers/partials/show/tag', :collection => assigned_tags