.panel.panel-default
  .panel-heading
    %h4.panel-title
      %a{ data: { parent: "#{parent_selector}", toggle: :collapse }, href: '#captures_panel'}
        Associated Captures
      .pull-right
        Results: #{captures.to_a.count}
  #captures_panel.panel-collapse.collapse
    .panel-body
      %table.table.table-striped
        %thead
          %tr
            %th Tag
            %th Capture Date
            %th Species
            %th Latitude
            %th Longitude
            %th Fish Condition
            %th Verified
            %th Has Recapture
            %th Time of day
            %th{data: { orderable: false }}
        %tbody#captures_view
          = render :partial => 'anglers/partials/show/capture', :collection => captures