.panel.panel-default
  .panel-heading
    %h4.panel-title
      %a{ data: { parent: "#{parent_selector}", toggle: :collapse }, href: '#draft_captures_panel'}
        Associated Draft Captures
      .pull-right
        Results: #{draft_captures.count}
  #draft_captures_panel.panel-collapse.collapse
    .panel-body
      %table.table.table-striped
        %thead
          %tr
            %th Tag
            %th Capture Date
            %th Species
            %th Length
            %th Latitude
            %th Longitude
            %th Fish Condition
            %th Recapture
            %th{ data: { orderable: false }}
        %tbody
          = render :partial => 'anglers/partials/show/draft_capture', :collection => draft_captures