.panel.panel-default
  .panel-heading
    %h4.panel-title
      %a{ data: { parent: "#{parent_selector}", toggle: :collapse }, href: '#recaptures_panel'}
        Associated Recaptures
      .pull-right
        Results: #{recaptures.count}
  #recaptures_panel.panel-collapse.collapse
    .panel-body
      %table.table.table-striped
        %thead
          %tr
            %th Tag
            %th Capture Date
            %th Species
            %th Latitude
            %th Longitude
            %th Fish Condition
            %th Verified
            %th Recapture Disposition
            %th Time of day
            %th{data: { orderable: false }}
        %tbody
          = render :partial => 'anglers/partials/show/recapture', :collection => recaptures