%table#duplicateList.table.table-striped
  %thead
    %tr
      %th Select
      %th Angler ID
      %th First
      %th Last
      %th Street
      %th Suite
      %th City
      %th State
      %th Zip
      %th Phone No. 1
      %th Phone No. 2
      %th Email
      %th Email 2
      %th Shirt size
  %tbody
    - duplicate_anglers_table.each do |angler|
      %tr
        %td= check_box_tag nil, '1', false, data: { id: angler.id }
        %td.angler-id= angler.angler_id
        %td= angler.first_name
        %td= angler.last_name
        %td= angler.street
        %td= truncate(angler.suite, :length => 10)
        %td= angler.city
        %td= angler.state
        %td= angler.zip
        %td= angler.phone_number_1
        %td= angler.phone_number_2
        %td= angler.email
        %td= angler.email_2
        %td= angler.shirt_size