- unless fields.object.persisted?
  .row
    .col-md-3.col-sm-6.col-xs-12
      .form-group
        = fields.label 'new_angler', 'New Angler'
        = fields.radio_button_tag 'should_create_welcome_kit', true, data: {'parsley-required' => true}
        = fields.label 'recapture_angler', 'Recapture Angler'
        = fields.radio_button_tag 'should_create_welcome_kit', false
.row
  .col-md-3.col-sm-6.col-xs-12
    .form-group
      = fields.label :first_name
      = fields.text_field :first_name, class: 'word-field form-control', data: {'parsley-required' => true}
  .col-md-3.col-sm-6.col-xs-12
    .form-group
      = fields.label :last_name
      = fields.text_field :last_name, class: 'word-field form-control', data: {'parsley-required' => true}
  .col-md-3.col-sm-6.col-xs-12
    .form-group
      = fields.label :street
      = fields.text_field :street, :class => 'word-field form-control'
  .col-md-3.col-sm-6.col-xs-12
    .form-group
      = fields.label :suite
      = fields.text_field :suite, :class => 'form-control'
.row
  .col-md-3.col-sm-6.col-xs-12
    .form-group
      = fields.label :city
      = fields.text_field :city, :class => 'word-field form-control'
  .col-md-3.col-sm-6.col-xs-12
    .form-group
      = fields.label :state
      = fields.text_field :state, :class => 'uppercase form-control'
  .col-md-3.col-sm-6.col-xs-12
    .form-group
      = fields.label :zip
      = fields.text_field :zip, :class => 'form-control', data: {'parsley-minlength ' => '5', 'parsley-maxlength ' => '5', 'parsley-type' => 'integer'}
  .col-md-3.col-sm-6.col-xs-12
    .form-group
      = fields.label :phone_number_1
      = fields.text_field :phone_number_1, :class => 'phone-field form-control', data: {'parsley-pattern' => '\(\d{3}\)\s\d{3}-\d{4}'}
.row
  .col-md-3.col-sm-6.col-xs-12
    .form-group
      = fields.label :phone_number_2
      = fields.text_field :phone_number_2, :class => 'phone-field form-control', data: {'parsley-pattern' => '\(\d{3}\)\s\d{3}-\d{4}'}
  .col-md-3.col-sm-6.col-xs-12
    .form-group
      = fields.label :email
      = fields.text_field :email, :class => 'form-control mailgun-email-field', 'remote-validation-param' => 'address', data: {'parsley-type' => 'email', 'parsley-remote' => '', 'parsley-remote-validator' => 'mailgun-email'}
  .col-md-3.col-sm-6.col-xs-12
    .form-group
      = fields.label :tag_end_user_type
      = fields.collection_select :tag_end_user_type, TagEndUserType.order('name DESC'), :id, :name, {}, {include_blank: true, class: 'form-control chosen-select'}
  .col-md-3.col-sm-6.col-xs-12
    .form-group
      = fields.label :shirt_size
      = fields.collection_select :shirt_size, ShirtSizeOption.all, :id, :shirt_size_option, {include_blank: true}, {class: 'form-control chosen-select', data: {'parsley-no-focus' => true, 'parsley-class-handler' => '#angler_shirt_size_chosen'}}
.row
  .col-xs-12
    .form-group
      = fields.label :comments
      = fields.text_area :comments, :rows => '3', :class => 'form-control'