#new_angler_modal.modal.fade{'aria-hidden' => "true", 'aria-labelledby' => "myModalLabel", role: 'dialog', tabindex: '-1'}
  .modal-dialog{:style => "width: 90%"}
    .modal-content
      .modal-header
        %button.close{'aria-hidden' => "true", 'data-dismiss' => "modal", type: "button"} &times;
        %h4#myModalLabel.modal-title New Angler
      .modal-body
        .table-container
          = render partial: 'anglers/remote_form', object: Angler.new