- should_cache = form.object.respond_to?(:tag_id) && form.object.try(:tag_id).blank?
- if should_cache
  - cache_key = Digest::MD5.hexdigest [Species.all.map(&:id), TimeOfDayOption.all.map(&:id), RecaptureDisposition.all.map(&:id), Basin.all.map(&:id), SubBasin.all.map(&:id)].flatten.join('')
  - cache_key = Digest::MD5.hexdigest [cache_key, form.object.class.name, Species.maximum(:updated_at), TimeOfDayOption.maximum(:updated_at), RecaptureDisposition.maximum(:updated_at), Basin.maximum(:updated_at), SubBasin.maximum(:updated_at)].flatten.join('')
- cache_if should_cache, ['species_select', cache_key] do
  .row
    -# the first main column, will contain most of the input elements
    .col-lg-6
      .row
        -# The tag id, we will use the auto complete to get tags that can be used.
        -# When in a recapture/draftcapture form we can reuse tags
        .col-lg-6
          - if form.object.respond_to? :tag_id
            .form-group
              = form.label :tag_number
              .tag-wrapper
                = form.hidden_field :tag_id, class: 'tag-id-field'
                = text_field_tag :tag_number, form.object.tag.try(:tag_no), update_elements: { id: '.tag-id-field', angler_name: '#angler_name', angler_id: '.angler-id-field' }, data: { 'parsley-required' => true,  'auto-focus' => true, noMatchesLabel: 'No assignable tags found' }, fields: { recapture: '#recapture' }, class: 'form-control tag-number-field uppercase-field', autofocus: true
          - elsif form.object.respond_to? :tag_number
            .form-group
              = form.label :tag_number
              = form.text_field :tag_number, update_elements: { id: '.tag-id-field', angler_name: '#angler_name', angler_id: '.angler-id-field' }, fields: { recapture: '.recapture-field' }, data: { 'parsley-required' => true,  'auto-focus' => true, noMatchesLabel: 'No assignable tags found' }, class: 'form-control tag-number-field uppercase-field'
        -# For the capture date, we are using the date picker to select the value and then insert
        -# the date string into the hidden field
        .col-lg-6
          .form-group
            = form.label :capture_date
            = form.date_picker_field :capture_date, { data: { 'parsley-required' => true, 'parsley-daterange' => '' , 'autofillonblank' => true}, class: 'form-control'}
      .row
        -# Here we enter in the angler_id and have a decorator that contains a button
        -# to add a new angler
        .col-lg-6
          .form-group
            = form.label :angler_id
            .input-group
              = autocomplete_field_tag :angler_number, form.object.angler.try(:angler_id), autocomplete_angler_angler_id_anglers_path, update_elements: { full_name: '#angler_name', id: 'form.fish-entry .hidden-angler-id' }, tabindex: (form.object.is_a?(Recapture) ? nil : -1), data: { 'parsley-required' => true, 'auto-focus' => true, noMatchesLabel: 'No anglers found'  }, class: 'form-control angler-id-field uppercase-field'
              = form.hidden_field :angler_id, value: form.object.angler_id, class: 'hidden-angler-id'
              %span.input-group-btn
                = button_tag content_tag(:i, nil, class: 'fa fa-user-plus'), class: 'btn btn-default', type: 'button', tabindex: -1, data: { toggle: 'modal', target: '#new_angler_modal' }
        -# This is a disabled field that we will use to show the anglers name
        -# this is just a sanity check to make sure the right angler was entered
        .col-lg-6
          .form-group
            = form.label :angler_name
            = text_field_tag :angler_name, nil, disabled: true, class: 'form-control angler-name-field', tabindex: -1
      .row
        -# The time of day options are pretty straight forward
        .col-lg-6
          - if form.object.respond_to? :time_of_day_option_id
            .form-group
              = form.label :time_of_day_option_id
              = form.collection_select :time_of_day_option_id, TimeOfDayOption.all, :id, :time_of_day, {include_blank: true}, class: 'form-control chosen-select'
          - elsif form.object.respond_to? :time_of_day_id
            .form-group
              = form.label :time_of_day_id
              = form.collection_select :time_of_day_id, TimeOfDayOption.all, :id, :time_of_day, {include_blank: true}, class: 'form-control chosen-select'
        -# The species id options are groups options with a target section as the topmost section
        .col-lg-6
          .form-group
            = form.label :species_id
            = form.select :species_id, species_grouped_options(form.object), {include_blank: true}, class: 'chosen-select species-field', data: { 'parsley-required' => true, 'parsley-no-focus' => true }
      .row
        -# We are splitting the length fields into 2 columns.
        .col-lg-6
          .row
            -# The first column is for entering the actual length, in inches (per the decorator)
            .col-lg-6
              .form-group
                = form.label :length
                .input-group
                  = form.text_field :length, class: 'form-control', data: { 'parsley-min' => '1' }
                  .input-group-addon in.
            -# The second column is for selecting a length range
            .col-lg-6
              .form-group
                = form.label :species_length_id
                = form.select :species_length_id, species_length_grouped_options(form.object), {include_blank: true}, class: 'form-control chosen-select species-length-field', tabindex: -1
      .row
        - if form.object.respond_to? :recapture_disposition_id
          .col-lg-6
            .form-group
              = form.label :recapture_disposition
              = form.collection_select :recapture_disposition_id, RecaptureDisposition.all, :id, :select_display, {include_blank: true}, class: 'form-control chosen-select'
        .col-lg-6
          .form-group.coordinate-type-fields
            = form.label :entered_gps_type, 'Coordinate Type'
            .input-group.btn-group{data: { toggle: 'buttons' }, style: 'width:100%'}
              - GPSFormat.order(:format_type).each do |format|
                = form.label :entered_gps_type, class: "btn btn-default #{capture_form_active_gps_class(form.object,format)}" do
                  = form.radio_button :entered_gps_type, format.format_type, checked: capture_form_active_gps_checked(form.object,format), data: { parsley: {  multiple: 'gps_format_radio' } }
                  = format.format_type
      .row
        .col-lg-6.coordinate-field-group
          .form-group
            = form.label :latitude
            = form.coordinate_field_bootstrap :latitude, data: { 'parsley-required' => true }
        .col-lg-6.coordinate-field-group
          .form-group
            = form.label :longitude
            = form.coordinate_field_bootstrap :longitude, data: { 'parsley-required' => true }
      - if form.object.respond_to? :basin_id
        .row
          .col-lg-6.basin-field-group
            .form-group
              = form.label :basin_id, 'Basin'
              = form.collection_select :basin_id, Basin.all, :gid, :name, {include_blank: true}, class: 'form-control basin-field chosen-select'
          .col-lg-6.basin-field-group
            .form-group
              = form.label :sub_basin_id, 'Sub Basin'
              = form.select :sub_basin_id, sub_basin_grouped_options(form.object), {include_blank: true}, {class: 'form-control subbasin-field chosen-select'}
      .row
        .col-lg-12
          .form-group
            = form.label :location_description
            = form.text_area :location_description, class: 'form-control'
      .row
        .col-lg-12
          .form-group
            = form.label :comments
            = form.text_area :comments, class: 'form-control'
    -# the second main column, will contain the map primarily
    .col-md-6
      .map{ style: 'width: 100%; height: 540px'}