= form_for instance, html: { class: 'fish-entry' } do |form|
  = render partial: 'partials/form_flash_messages', object: form.object

  .row
    .col-lg-6
      .row
        -# The recapture check box. We will use it to transition to the alternative form when checked
        .col-lg-6
          .checkbox
            = label_tag :recapture_box do
              = hidden_field_tag :recapture_box, 0
              = check_box_tag :recapture_box, 0, form.object.instance_of?(Recapture), class: 'checkbox'
              = content_tag :recapture_box, 'Is Recapture?'

          .checkbox
            = form.label :verified, :create do
              = form.check_box :verified, class: 'checkbox'
              = content_tag :verified, 'Verify?'

  = render partial: 'fish_entry_common/partials/form/fields', locals: { form: form }

  .row
    - if action_name == 'edit'
      .col-md-2.col-md-offset-8
        = form.submit_with_input_field 'Update', :create, class: 'btn btn-default form-control'

    - else
      .col-md-2.col-md-offset-6
        = form.submit_with_input_field 'Create', :create, class: 'btn btn-default form-control'
      .col-md-2
        = form.submit_with_input_field 'Create & Continue', :continue, class: 'btn btn-default form-control'

    .col-md-2
      = form.button 'Reset', type: :reset, class: 'btn btn-danger form-control'