// Place all the styles related to the captures controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body.captures {
  .show {
#map-canvas {
  width: 600px;
  height: 500px;
}

#container_div {
  background-color:red;
  position:relative;
  width:1150px;
}

#map_div{
  height: 400px;
  position: absolute;
  right: 13px;
  top: 103px;
  width: 400px;
}

#activity_div {
  height: 200px;
  position: relative;
  width: 200px;
}

#recapture_fields {
  display:none;
  position:relative;
  width:440px;
  height:100px;
}

#subtitle_container.button-holder {
  width: auto;
}

.no-padding {
  padding: 0px !important;
}

.see_card {
  top: 45px;
  left: 322px;
  width: 150px;
  position: absolute;
}

.card {
  padding: 10px !important;
}

.button-holder {
}

#centercontent a, a:link {
  color: #000000;
  font-weight: 500;
}

.report-btn {
  margin-left:10px
}

}
}
