body.captures {
  //tbody tr td {
  //  width: 260px;
  //}
  //
  //.show {
  //  width: 260px;
  //  height: 40px;
  //}
  //
  //.row .showable {
  //  min-height: 40px;
  //}
  //
  //.edit {
  //  //  width:260px;
  //  height: 40px;
  //}
  //.card {
  //  background-color: white;
  //}
  //
  //.card .container {
  //  width: 446px;
  //}
  //
  //.left-div {
  //  float: left;
  //  width: auto;
  //}
  //
  //.right-div {
  //  float: right;
  //}
  //
  //.header {
  //  width: 930px;
  //}
  //
  //.right {
  //  float: right;
  //  margin-top: 30px;
  //}
  //
  //.left {
  //  float: left;
  //}
  //
  //.delete-button {
  //  margin-left: 10px;
  //}
  //
  //.clear-button {
  //}
  //
  //pre {
  //  overflow: auto;
  //  word-wrap: normal;
  //  white-space: pre;
  //}
  //
  //#latitude-degrees.location-field {
  //  padding-right: 3px;
  //}
  //
  //#latitude-minutes.location-field {
  //  padding-right: 7px;
  //  padding-left: 4px;
  //}
  //
  //#latitude-seconds.location-field {
  //  padding-left: 0px;
  //}
  //
  //#longitude-degrees.location-field {
  //  padding-right: 3px;
  //}
  //
  //#longitude-minutes.location-field {
  //  padding-left: 4px;
  //  padding-right: 7px;
  //}
  //
  //#longitude-seconds.location-field {
  //  padding-left: 0px;
  //}
  //
  //#captureTabs a.tab-red {
  //  //  color: #ff5044;
  //}
  //
  //#captureTabs a.tab-green {
  //  //  color: #2e9426;
  //}
  //
  //.leaflet {
  //  height: 400px;
  //  margin-left: 31px;
  //  margin-top: 6px;
  //  width: 400px;
  //}
  //
  //.cool {
  //  position: relative;
  //  margin-left: 32px;
  //  margin-top: 43px;
  //  width: 400px;
  //}
}