//// Place all the styles related to the captures controller here.
//// They will automatically be included in application.css.
//// You can use Sass (SCSS) here: http://sass-lang.com/

body.captures {
.new {
#map_div {
  height: 400px;
  position: absolute;
  right: 13px;
  top: 103px;
  width: 400px;
}

.new-angler-button {
  margin-left: -5px;
  padding: 7px;
}
}
}

