@import '../common/variables';

body.captures, body.recaptures, body.draft-captures {
  form.fish-entry {

    border: $fish_la_blue solid 2px;
    background-color: whitesmoke;
    padding: 16px;

    .coordinate-type-fields {
      .input-group {
        width: 100%
      }

      label.btn {
        width: 25%;
      }
    }

    .css-icon {
      width: 0;
      height: 0;
    }

  }
}