body.captures, body.recaptures, body.draft-captures {
  .show {
    h2.class-name {
      margin-bottom: 10px;
      margin-top: 10px;
    }

    .modal.images-modal {

      .row.images {
        margin-left: 10px;
        margin-right: 10px;
      }

      .image-item {

        padding: 10px 10px 0px;
        border: 1px solid black;
        background-color: snow;

        img {
          width: 100%;
        }

        .row {
          margin-bottom: 10px;
        }
      }

    }
  }
}