= form_for @news_item do |f|
  .row
    .row.alert{:class => " #{@news_item.should_publish? ? 'alert-success' : 'alert-warning'}"}
      .col-md-4
        %label{:style => "margin-top: 9px"}= @news_item.should_publish? ? 'This item has been published' : 'Will not be published until checked'
      .col-md-2.col-md-offset-6.publish-now-checkbox
        .checkbox
          = label_tag :publish do
            = f.check_box :should_publish, class: 'checkbox'
            Publish
  .row
    .col-md-12
      .form-group
        = f.label :title
        = f.text_field :title, class: 'form-control'
    .col-md-12
      .form-group
        = f.label :content
        = f.text_area :content, class: 'summernote'
  .row
    .col-md-2
      = f.submit  params[:action] == 'new' ? 'Create': 'Save', class: 'form-control btn btn-default'