.row
  .col-md-5
    %h1 News Items
  .col-md-5
    = link_to '<i class="fa fa-plus"></i> New Item'.html_safe, new_news_item_path, :class => 'btn btn-default pull-right'

.table-container
  %table.table.table-striped
    %thead
      %tr
        %th Event
        %th Published
        %th Edit
        %th Delete
    %tbody
      - @news_items.each do |news_item|
        %tr
          %td.item-index-content
            .title
              = link_to news_item.title, edit_news_item_path(news_item)
            .gradientEllipsis
              = news_item.content.html_safe
              .dimmer
          %td= news_item.should_publish ? font_awesome_icon('fa-check') : ''
          %td= link_to font_awesome_icon('fa-pencil'), edit_news_item_path(news_item), :class => 'btn btn-default'
          %td= link_to font_awesome_icon('fa-trash-o'), news_item, method: :delete, data: { confirm: 'Are you sure?' }