<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @news_item.content %>
</p>

<p>
  <strong>Title:</strong>
  <%= @news_item.title %>
</p>

<%= link_to 'Edit', edit_news_item_path(@news_item) %> |
<%= link_to 'Back', news_items_path %>
