<%= form_for @about_tagging_program do |f| %>
  <div class="row">
    <div class="col-md-12">
      <%= f.text_area :description, class: 'summernote' %>
    </div>
  </div>

  <br/>

  <button type="submit" class="btn btn-default">Update About Page</button>
<% end %>