<h1>Listing about_tagging_programs</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @about_tagging_programs.each do |about_tagging_program| %>
      <tr>
        <td><%= link_to 'Show', about_tagging_program %></td>
        <td><%= link_to 'Edit', edit_about_tagging_program_path(about_tagging_program) %></td>
        <td><%= link_to 'Destroy', about_tagging_program, method: :delete, data: {confirm: 'Are you sure?'} %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'New About tagging program', new_about_tagging_program_path %>
