<% if @requested_event.instance_of?(Recapture) %>
  <div class="recapture-angler"></div>
<% end %>

<div class="report-container">
  <div class="header-container">
    <div class="header-stuff">
      <div class="header-image">
        <%= image_tag('tagging_logo_report.png', :class => 'tagging-logo') %>
      </div>
      <div class="header-text">
        <p class="header">Fish Tag and Release Recapture Report</p>

      </div>
      <div class="header-right-border"></div>
    </div>
  </div>

  <div class="report-outside">
    <div class="report-side-bar">

    </div>
    <div class="inner-report-content">
      <div class="greeting">
        <br>

        <p><%= Time.now.strftime("%B %d, %Y") %> - The following information pertains to a <strong><%= @requested_event.species.try(:common_name) %></strong> which was tagged, released, and later recaptured.
          <br/>We thank you for your participation in this important research and wish you the best of luck in your fishing future.
          <br/>Recapture Details for Tag No. <strong><%= @requested_event.tag.try(:tag_no) %></strong>
        </p>
      </div>

      <div class="cards">
        <% @events.each_with_index do |event, index| %>
          <% if @events.count > 2 %>
            <%= render partial: 'fish_entry_common/partials/single_column', locals: {event: event} %>
          <% else %>
            <%= render partial: 'fish_entry_common/partials/two_column', locals: {event: event} %>
          <% end %>
        <% end %>

        <div class="clearfix"></div>
      </div>

      <div class="clearfix"></div>

      <div id="map_div">
        <div class="map-div" id="map_canvas" style="width:980px;height:550px; margin-left: 23px"></div>
      </div>

    </div>

    <div class="footer-container">
      <div class="footer-info">
        <table>
          <tr>
            <td>
              <%= image_tag('CCALouisiana_newlogo_red_horiz.png', :class => 'logo-image') %>
            </td>
            <td>
              <div class="contact">
                <p class="footer-tag-title">Louisiana Cooperative Marine Fish Tagging Program</p>

                <p>P.O. Box 87353<br>Baton Rouge, LA 70879-8353<br>1-800-567-2182<br>taglouisiana@charter.net
                  <br>Find us on Facebook at:
                  <a href="http://www.facebook.com/Tag.Louisiana">www.Facebook.com/Tag.Louisiana</a>
                </p>
              </div>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <div id="geo_json" style="display: none">
    <%= @geo_json %>
  </div>

</div>