<table id="draftCaptureIndexTable" class="table table-striped table-hover">
  <thead>
    <tr>
      <th><%= datatable_checkbox %></th>
      <th>Angler ID</th>
      <th>Name</th>
      <th>Tag</th>
      <th>Date</th>
      <th>Species</th>
      <th>Length</th>
      <th>Lat.</th>
      <th>Lon.</th>
      <th>Recapture</th>
      <th>Disp.</th>
      <th>Entered</th>
      <th>Status</th>
      <th>Images</th>
      <th>Open</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
<div class="btn-group table-actions" role="group" aria-label="actions_for_rows">
  <button type="button" class="btn btn-default collapse btn-download">
    <i class="fa fa-download" style="font-size: 1em; margin-left: -1px;"></i> DOWNLOAD
  </button>
  <button type="button" class="btn btn-default collapse post-button" data-path="<%= move_to_captures_draft_captures_path %>">
    <%= font_awesome_icon 'fa-check', text: 'Move to Capture/Recapture'%>
  </button>
  <button type="button" class="btn btn-default collapse delete-button" data-path="<%= multi_delete_draft_captures_path %>">
    <%= font_awesome_icon 'fa-check', text: 'Delete' %>
  </button>
  <%= button_to 'Refresh Draft Captures', refresh_errors_draft_captures_path, {style: 'margin-top: 5px;'}%>
</div>
