%table{id: 'anglerItemsIndexTable', class: ['table', 'table-striped', clazz] }
  %thead
    %th= datatable_checkbox
    %th Angler ID
    %th Angler Name
    %th Item
    %th Item Type
    %th Requested At
    %th Fulfilled At
  %tbody

.btn-group.table-actions
  %button.btn.btn-default.collapse.post-button{ type: 'button', data: {path: mark_fulfilled_angler_items_path}}
    =font_awesome_icon 'fa-check', text: 'Mark as Fulfilled'