= form_for @draft_capture, html: { class: 'fish-entry' } do |form|
  = render partial: 'partials/form_flash_messages', object: form.object

  .row
    .col-md-6
      .checkbox
        = form.label :recapture do
          = form.check_box :recapture, class: 'checkbox recapture-field'
          = content_tag :strong, 'Is Recapture?'

  = render partial: 'fish_entry_common/partials/form/fields', locals: { form: form }

  .row
    .col-md-2.col-md-offset-8
      = form.submit 'Update', class: 'btn btn-default form-control'
    .col-md-2
      = form.button 'Reset', type: :reset, class: 'btn btn-danger form-control'