<h1>Listing draft_captures</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @draft_captures.each do |draft_capture| %>
  <tr>
    <td><%= link_to 'Show', draft_capture %></td>
    <td><%= link_to 'Edit', edit_draft_capture_path(draft_capture) %></td>
    <td><%= link_to 'Destroy', draft_capture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Draft capture', new_draft_capture_path %>
