.row
  .col-md-2
    %h1= @draft_capture.tag_number
  .col-md-10.text-right.status
    %h4= @draft_capture.status[:message]
-# TODO add a spot for the errors
.tab-pane{ data: { path: geo_json_draft_capture_path(@draft_capture)} }
  .row
    .col-md-12
      .btn-group.pull-right.actions{'aria-label' => 'actions', role: 'group'}
        = link_to 'CONFIRM', move_to_capture_draft_capture_path(@draft_capture), class: 'btn btn-default', data: { confirm: 'Moving this item early may cause confusion for the angler'}
        = link_to 'IMAGES', '#', class: 'btn btn-info', data: { toggle: :modal, target: "##{capture_images_modal_name(@draft_capture)}"} if @draft_capture.has_images?
        = link_to 'EDIT', edit_draft_capture_path(@draft_capture), class: 'btn btn-default'
        = link_to('DELETE', draft_capture_path(@draft_capture), :method => :delete, data: { confirm: 'Are you sure you want to delete this item?'}, :class => 'btn btn-danger')

  = render partial: 'fish_entry_common/partials/show', object: @draft_capture
  = render partial: 'fish_entry_common/modals/images', object: @draft_capture, locals: { modal_id: capture_images_modal_name(@draft_capture) }