%h1 Assign Tags

.table-container
  = form_tag(assign_tags_path, {role: 'form', id: 'assign_tag_form'}) do |form|
    = hidden_field_tag 'passed_angler_id', @angler_id
    .form-group
      = label_tag :angler_id
      = autocomplete_field_tag :angler_id, nil, autocomplete_angler_angler_id_anglers_path, data: { 'parsley-required' => true, 'auto-focus' => true, noMatchesLabel: 'No anglers found'  }, class: 'form-control uppercase-field'
    .form-group
      = label_tag :start_tag_number
      = text_field_tag :start_tag_number, nil, data: { 'parsley-required' => true,  'auto-focus' => true, noMatchesLabel: 'No assignable tags found' }, class: 'form-control uppercase-field'
    .form-group
      = label_tag :number_tags
      = text_field_tag :number_tags, nil, :class => 'form-control',  data: { 'parsley-min' => '1' }
    .form-group
      = label_tag :end_tag_number
      = text_field_tag :end_tag_number, nil, data: { 'parsley-required' => true,  'parsley-greaterthanequalfield' => '#start_tag_number', 'parsley-greaterthanequalfield-message' => 'Must be larger than or equal to the start tag number', 'auto-focus' => true, noMatchesLabel: 'No assignable tags found' }, class: 'form-control uppercase-field'
    = submit_tag 'Submit', class: 'btn btn-default'
    %button.btn.btn-danger{type: :reset} Clear