%h1 Tag assignments

.table-container
  = form_tag assigned_tags_path, {method: :post, class: 'month-filter'} do
    .row
      .col-md-3
        = label_tag 'Month filter'
    .row
      .col-md-2
        = select_month(Date.today, { prompt: 'Month' }, { class: 'month chosen-select' })
      .col-md-2
        = select_year(Date.today, {start_year: Date.today.year, end_year: 2012, prompt: 'Year'}, {class: 'year chosen-select'})
      .col-md-1
        = button_tag 'Reset', { class: 'btn btn-danger', type: :reset }

  %br/

  %table.table.table-striped
    %thead
      %tr
        %th Angler ID
        %th Angler Name
        %th Assignment Date
        %th Start Tag
        %th End Tag
        %th Number of Tags
        %th Last Tag Used
    %tbody