%h1 Deactivate Tag

.table-container
  = form_tag(deactivate_tags_path, {role: 'form', id: 'deactivate_tag_form'}) do |form|
    .form-group
      = label_tag :tag_number
      = autocomplete_field_tag :tag_number, nil, autocomplete_tag_number_any_tags_path, data: { 'parsley-required' => true,  'auto-focus' => true, noMatchesLabel: 'No assignable tags found' }, class: 'form-control uppercase-field'
    = submit_tag 'Submit', class: 'btn btn-default'
    %button.btn.btn-danger{type: :reset} Clear