<h1>Tags</h1>

<div class="table-container">
<table id="tagsIndexList" class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Number</th>
      <th>Angler ID</th>
      <th>Angler Name</th>
      <th>Entered</th>
      <th>Assigned</th>
      <th>Used</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
</div>