%h1 Unassign Tags

.table-container
  = form_tag(unassign_tags_path, {role: 'form', id: 'assign_tag_form'}) do |form|
    .form-group
      = label_tag :start_tag_number
      = autocomplete_field_tag :start_tag_number, nil, autocomplete_tag_number_any_tags_path, data: { 'parsley-required' => true,  'auto-focus' => true, noMatchesLabel: 'No assignable tags found' }, class: 'form-control uppercase-field'
    .form-group
      = label_tag :number_tags
      = text_field_tag :number_tags, nil, :class => 'form-control', data: { 'parsley-min' => '1' }
    .form-group
      = label_tag :end_tag_number
      = autocomplete_field_tag :end_tag_number, nil, autocomplete_tag_number_any_tags_path, data: { 'parsley-required' => true,  'parsley-greaterthanequalfield' => '#start_tag_number', 'parsley-greaterthanequalfield-message' => 'Must be larger than or equal to the start tag number', 'auto-focus' => true, noMatchesLabel: 'No assignable tags found' }, class: 'form-control uppercase-field'
    = submit_tag 'Submit', class: 'btn btn-default'
    %button.btn.btn-danger{type: :reset} Clear