#report_nav.list-group{"data-turbolinks-temporary" => ""}
  = nav_link 'Angler Info', ReportController::REPORT_SECTIONS[:angler_info], @section.to_sym == :angler_info
  = nav_link 'Tagged Fish', ReportController::REPORT_SECTIONS[:tagged_fish], @section.to_sym == :tagged_fish
  = nav_link 'Recaptured Fish', ReportController::REPORT_SECTIONS[:recaptured_fish], @section.to_sym == :recaptured_fish
  = nav_link 'Unused Kits', ReportController::REPORT_SECTIONS[:unused_kits], @section.to_sym == :unused_kits
  = nav_link 'Banquet Anglers', ReportController::REPORT_SECTIONS[:banquet_anglers], @section.to_sym == :banquet_anglers
  = nav_link 'Days At Large', ReportController::REPORT_SECTIONS[:days_at_large], @section.to_sym == :days_at_large
  = nav_link 'Captures By Angler', ReportController::REPORT_SECTIONS[:captures_by_angler], @section.to_sym == :captures_by_angler
  = nav_link 'Recaptures By Angler', ReportController::REPORT_SECTIONS[:recaptures_by_angler], @section.to_sym == :recaptures_by_angler
  = nav_link 'Captures Lottery', ReportController::REPORT_SECTIONS[:captures_lottery], @section.to_sym == :captures_lottery
  = nav_link 'Data Check', ReportController::REPORT_SECTIONS[:data_check], @section.to_sym == :data_check
  = nav_link 'Saltwater Series', ReportController::REPORT_SECTIONS[:saltwater_series], @section.to_sym == :saltwater_series
  = nav_link 'Custom Capture Query', ReportController::REPORT_SECTIONS[:custom_capture_query], @section.to_sym == :custom_capture_query
  - if current_user.has_role? :admin
    = nav_link 'Download SQL Dump', ReportController::REPORT_SECTIONS[:sql_dump], @section.to_sym == :sql_dump