// the set of result table ids
table_ids = [
    "#captureResults",
    "#recaptureResults",
    "#tagResults",
    "#anglersResults"
];

// will be the table html to be inserted
table_html = [
    '<%= escape_javascript render(:partial => 'report/result_tables/data_check/capture', :collection => @items['captures']) %>',
    '<%= escape_javascript render(:partial => 'report/result_tables/data_check/recapture', :collection => @items['recaptures']) %>',
    '<%= escape_javascript render(:partial => 'report/result_tables/data_check/tag', :collection => @items['tags']) %>',
    '<%= escape_javascript render(:partial => 'report/result_tables/data_check/angler', :collection => @items['anglers']) %>'
];

// destroy the old dataTables
$('table.dataTable').each(function(){
    $(this).dataTable().fnDestroy();
});

// rebuild the html for the tables.
for (var i = 0; i < table_html.length; i++) {
    // get the results table
    var resultsTable = $(table_ids[i]);

    // update the tbody inner html with the new result data
    resultsTable.find('tbody').html(table_html[i]);
}

//// create the data tables
$('table.results').dataTable({
    autoWidth: true
});

// show the results div
resultsTable.closest('div#results').show();

// hide the waiting dialog if it visible
downloadWaitingDialog.hide();