// get the results table
var resultsTable = $('#report_container #results table');

resultsTable.DataTable().destroy();

// update the tbody inner html with the new result data
resultsTable.find('tbody').html('<%= escape_javascript render(:partial => "report/result_tables/#{@section}", :collection => @items) %>');

// show the results div
resultsTable.closest('#results').show();

// create the data table
resultsTable.DataTable({
    destroy: true,
    autoWidth: true
});

// hide the waiting dialog if it visible
downloadWaitingDialog.hide();