.row
  .col-md-12
    = form_fields.label :first_name
    = form_fields.text_field :first_name, class: 'form-control'
  .col-md-12
    = form_fields.label :last_name
    = form_fields.text_field :last_name, class: 'form-control'
  .col-md-12
    = form_fields.label :angler_id, 'Old Angler ID'
    = form_fields.text_field :angler_id, disabled: true, class: 'form-control', id: 'old-angler-id'
  .col-md-12
    = form_fields.label :email
    = form_fields.text_field :email, class: 'form-control'
  .col-md-12
    = form_fields.label :comments
    = form_fields.text_area :comments, class: 'form-control'

- if can?(:assign_roles, @user)
  .row
    .col-md-12
      %h5 Roles
      = form_fields.fields_for :roles_users, @user.roles_users do |role_field|
        - if role_field.object.role != Role.admin_role || can?(:assign_administrator_role,@user)
          .col-md-4
            .checkbox
            = role_field.label :role_id do
              = role_field.check_box :_destroy, { checked: role_field.object.persisted? }, '0', '1'
              = role_field.hidden_field :role_id
              = role_field.hidden_field :id
              = role_field.object.role.name

- if current_user.has_role?(:admin) || current_user.has_role?(:ldwf)
  .row
    .col-md-12
      %h5 What to be notified about
      .checkbox
        = form_fields.label :receive_daily_capture_email_summary do
          = form_fields.check_box :receive_daily_capture_email_summary, class: 'checkbox'
          Daily Capture Email Summary

      = form_fields.fields_for :notification_topics_users, @user.notification_topics_users do |topic_field|
        .row
          .col-md-6
            .checkbox
              = topic_field.label :notification_topic_id do
                = topic_field.check_box :_destroy, { checked: topic_field.object.persisted? }, '0', '1'
                = topic_field.hidden_field :notification_topic_id
                = topic_field.object.notification_topic.topic

              = form_fields.fields_for :user_couriers, @user.user_couriers.select { |c| c.notification_topic.id == topic_field.object.notification_topic.id} do |courier_field|
                .row
                  .col-sm-offset-1.col-md-4
                    .checkbox
                      = courier_field.label :notification_topic_courier_id do
                        = courier_field.check_box :_destroy, { checked: topic_field.object.persisted? }, '0', '1'
                        = courier_field.hidden_field :notification_topic_id
                        = courier_field.hidden_field :notification_courier_id
                        = courier_field.object.notification_courier.courier
