- flash.clear
.outer
  .middle
    .inner
      %div
        .text-center
          %h1 Narwhal
          %h3 TagLouisiana Management Portal
        .table-container
          .row
            .col-md-5
              .logo
                = image_tag 'ldwf_logo.jpg', size: '200x200'
            .col-md-7
              = form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f|
                .form-group
                  = f.label :email
                  = f.email_field :email, class: 'form-control', autofocus: true
                .form-group
                  = f.label :password
                  = f.password_field :password, class: 'form-control'
                %button.btn.btn-default{:type => "submit"} Submit
              = render "devise/shared/links"