body.anglers {

  div#anglerMergeModal {

    .modal-dialog {
      width: 95%;
    }

    .item-selected {
      background-color: #96fe71;
    }

    .highlight {
      background-color: #96fe71;
    }

    .checkbox {
      label {
        font-weight: bold;
      }
    }
  }
}