body.sessions {

  background-color: white;

  .main-div {
    margin-top: 0;
    margin-bottom: 0;
  }

  .new, .password-new {
    //colors
    $link_color: #000000;
    $link_active_color: #676767;

    a {
      &:link {
        color: $link_color;
      }
      &:active {
        color: $link_active_color;
      }
    }

    .logo {
      height: 200px;
      width: 200px;
      margin: 0 auto;
    }
    .outer {
      display: table;
      position: absolute;
      height: 100%;
      width: 100%;
    }

    .outer::after {
      content: "";
      background: asset-url("login_background.jpg") $secondary_background no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      opacity: 0.5;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      position: absolute;
      z-index: -1;
    }

    .middle {
      display: table-cell;
      vertical-align: middle;
    }

    .inner {
      margin-left: auto;
      margin-right: auto;
      width: 33%;

      margin-top: -60px;
    }
  }
}