- item = show

.row
  .col-lg-6
    .row
      .col-lg-6
        %h3 Tag Number
        %h4= format_with_placeholder(item.tag_number)
      .col-lg-6
        %h3 Capture Date
        %h4= format_with_placeholder(item.capture_date.strftime('%m/%d/%Y'))
    .row
      .col-lg-6
        %h3 Angler ID
        %h4= format_with_placeholder(item.angler.try(:angler_id))
      .col-lg-6
        %h3 Angler Name
        %h4= format_with_placeholder(item.angler.try(:full_name))
    .row
      .col-lg-6
        %h3 Time of Day
        %h4= format_with_placeholder(item.time_of_day_option.try(:time_of_day))
      .col-lg-6
        %h3 Species
        %h4= format_with_placeholder(item.species.try(:common_name))
    .row
      .col-lg-6
        .row
          .col-lg-6
            %h3 Length
            %h4= item.length ? "#{item.length} (in.)" : format_with_placeholder(item.length)
          .col-lg-6
            %h3 Length Range
            %h4= format_with_placeholder(item.species_length.try(:description))
      - if item.respond_to? :recapture_disposition
        .col-lg-6
          %h3 Recapture Disposition
          %h4= format_with_placeholder(item.recapture_disposition.try(:id))
      .col-lg-6
        %h3 Coordinate Type
        %h4= format_with_placeholder(item.entered_gps_type)
    - if item.entered_gps_type != 'NOGPS'
      .row
        .col-lg-6
          %h3 Latitude Type
          %h4= format_with_placeholder(item.latitude_string)
        .col-lg-6
          %h3 Longitude Type
          %h4= format_with_placeholder(item.longitude_string)
    - elsif item.respond_to? :basin_id
      .row
        .col-lg-6
          %h3 Basin
          %h4= format_with_placeholder(item.basin.try(:name))
        .col-lg-6
          %h3 Sub-Basin
          %h4= format_with_placeholder(item.sub_basin.try(:name))
    .row
      .col-lg-12
        %h3 Location Description
        %h4= format_with_placeholder(item.location_description.presence)
    .row
      .col-lg-12
        %h3 Comments
        %h4= format_with_placeholder(item.comments.presence)
  .col-md-6
    .map{ style: 'width: 100%; height: 540px'}