<div id="<%= event.id unless event.nil? %>" class="capture-info card <%= @requested_event != event ? 'black-card-border' : 'red-card-border' %>">

  <!--card header-->
  <div>

    <img class="left marker" src=""/>

    <div class="collapse left square">
      <div></div>
    </div>

    <% if event.instance_of?(Recapture) %>
        <h3 class="left">Recapture</h3>
    <% else %>
        <h3 class="left">Initial Capture</h3>
    <% end %>


    <div class="left location-message" style="font-size: 0.7em; margin-left: 10px; margin-top: 15px; display: none;">
      <i>
        <strong>
          Fish was caught in the indicated area, but the exact location is kept private.
        </strong>
      </i>
    </div>

    <div class="clearfix"></div>
  </div>

  <!--card contents-->
  <% if event.nil? %>
    <p>Unfortunately, we do not have the initial capture data for this fish at this time.</p>
  <% else %>
    <table class="table table-bordered">

      <tr>
        <td class="item">
          <span><strong>Date :</strong> <%= event.capture_date.try(:strftime, '%m/%d/%Y') %></span>
        </td>

        <td class="item">
          <span>
            <strong>Angler:</strong> <%= event.angler.try(:first_name) %> <%= event.angler.try(:last_name) %>
          </span>
        </td>

        <td>

          <% if event.length != nil %>
            <span><strong>Length :</strong> <%= event.length %> <%= event.length ? "inches" : "" %></span>
          <% elsif event.species_length != nil %>
              <span><strong>Length :</strong> <%= event.species_length.description %></span>
          <% else %>
            <span><strong>Length :</strong> No length Data Available</span>
          <% end %>
        </td>
      </tr>

      <% if event.instance_of?(Recapture) %>
        <tr>
          <td class="item">
            <% unless event.days_since_original_capture.nil? %>
              <span><strong>Days at Large :</strong> <%= event.days_since_original_capture.to_s %> days</span>
            <% end %>
          </td>

          <td class="item right">
            <% unless event.distance_from_original_capture.nil? %>
              <span><strong>Distance Traveled :</strong> <%= '%.2f' % event.distance_from_original_capture %> miles</span>
            <% end %>
          </td>

          <td>
            <span><strong>Recapture Disposition :</strong> <%= event.recapture_disposition.nil?  ? 'N/A' : event.recapture_disposition.recapture_disposition %> </span>
          </td>
        </tr>
      <% end %>

      <tr>
        <td>
          <% if event.location_description != nil and event.location_description != '' %>
            <span><strong>Location Description</strong> <%= event.location_description %></span>
          <% else %>
            <span><strong>Location Description :</strong> No Data Available</span>
          <% end %>
        </td>
      </tr>

    </table>
  <% end %>

</div>