<div class="capture-info card <%= @requested_event != event ? 'black-card-border' : 'red-card-border' %> card-two-column">

  <!--card header-->
  <div class="card-header">

    <img class="left marker" src=""/>

    <div class="collapse left square">
      <div></div>
    </div>

    <% if event.instance_of?(Recapture) %>
      <h3 class="left">Recapture</h3>
    <% else %>
        <h3 class="left">Initial Capture</h3>
    <% end %>


    <div class="left location-message" style="font-size: 0.7em; margin-left: 10px; margin-top: 15px; display: none;">
      <i>
        <strong>
          Fish was caught in the indicated area, but the exact location is kept private.
        </strong>
      </i>
    </div>

    <div class="clearfix"></div>
  </div>

  <!--card contents-->
  <% if event.nil? %>
    <p>Unfortunately, we do not have the initial capture data for this fish at this time.</p>
  <% else %>
    <br>

    <table>

      <tr>
        <td>
          <span><strong>Date :</strong> <%= event.capture_date.try(:strftime, '%m/%d/%Y') %></span>
        </td>

        <td>
          <span>
            <strong>Angler:</strong> <%= event.angler.try(:first_name) %> <%= event.angler.try(:last_name) %>
          </span>
        </td>
      </tr>

      <tr>
        <td>
          <% if event.length != nil %>
          <span><strong>Length :</strong> <%= event.length %> <%= event.length ? "inches" : "" %></span>
          <% elsif event.species_length != nil %>
            <span><strong>Length :</strong> <%= event.species_length.description %></span>
          <% else %>
            <span><strong>Length :</strong> No length Data Available</span>
        <% end %>
        </td>
      </tr>

      <% if event.instance_of?(Recapture) %>
        <tr>
          <td class="item">
            <% unless event.days_since_original_capture.nil? %>
              <span><strong>Days at Large :</strong> <%= event.days_since_original_capture %> days</span>
            <% end %>
          </td>

          <td class="item right">
            <% unless event.distance_from_original_capture.nil? %>
              <span><strong>Distance Traveled :</strong> <%= '%.2f' % event.distance_from_original_capture %> miles</span>
            <% end %>
          </td>
        </tr>

        <tr>
          <td>
            <% if event.recapture_disposition %>
              <span><strong>Recapture Disposition :</strong> <%= @release %> </span>
            <% end %>
          </td>
        </tr>
      <% end %>

      <tr>
        <td colspan="2">
          <% if event.location_description != nil and event.location_description != '' %>
            <span><strong>Location Description :</strong> <%= event.location_description %></span>
          <% else %>
            <span><strong>Location Description :</strong> No Data Available</span>
          <% end %>
        </td>
      </tr>

    </table>

  <% end %>

</div>



