<table id="<%= id %>" class="table table-hover table-striped">
  <thead>
    <tr>
      <th>Angler ID</th>
      <th>Name</th>
      <th>Type</th>
      <th>Quantity</th>
      <th>Requested</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>