$('.sub-basin').empty();
$('.sub-basin').append($('<option value="">Select the Sub Basin</option>'));
<% @sub_basins.each do |sub_basin| %>
  $('.sub-basin').append($('<option value="<%= sub_basin.gid %>"><%= sub_basin.name %></option>'));
<% end %>