.tab-pane
  %table{class: ['scratch-captures', 'table', 'table-striped'] }
    %thead
      %th Angler ID
      %th Tag Number
      %th Angler Name
      %th Date Created
      %th Show
      %th Edit
      %th Convert
    %tbody
      -#= render partial: 'scratch_captures/partials/scratch_capture_row', collection: @scratch_captures

  %button= link_to 'New Scratch Capture', new_scratch_capture_path
