.row
  .col-lg-6
    .row
      .col-lg-6
        %h3 Tag Number
        %h4= format_with_placeholder(@scratch_capture.tag_number)
      .col-lg-6
        %h3 Capture Date
        %h4= format_with_placeholder(@scratch_capture.capture_date.try(:strftime,'%m/%d/%Y'))
    .row
      .col-lg-6
        %h3 Angler ID
        %h4= format_with_placeholder(@scratch_capture.angler_number)
      .col-lg-6
        %h3 Angler Name
        %h4= format_with_placeholder(@scratch_capture.angler_name)
    .row
      .col-lg-6
        %h3 Time of Day
        %h4= format_with_placeholder(@scratch_capture.time_of_day_option.try(:time_of_day))
      .col-lg-6
        %h3 Species
        %h4= format_with_placeholder(@scratch_capture.species.try(:common_name))
    .row
      .col-lg-6
        .row
          .col-lg-6
            %h3 Length
            %h4= @scratch_capture.length ? "#{@scratch_capture.length} (in.)" : format_with_placeholder(@scratch_capture.length)

      .col-lg-6
        %h3 Recapture Disposition
        %h4= format_with_placeholder(@scratch_capture.recapture_disposition.try(:id))
      .col-lg-6
        %h3 Coordinate Type
        %h4= format_with_placeholder(@scratch_capture.gps_format.format_type) if @scratch_capture.gps_format
    - if @scratch_capture.gps_format != nil && @scratch_capture.gps_format != GPSFormat::NO_GPS
      .row
        .col-lg-6
          %h3 Latitude
          %h4= format_with_placeholder(@scratch_capture.latitude_string)
        .col-lg-6
          %h3 Longitude
          %h4= format_with_placeholder(@scratch_capture.longitude_string)
    - elsif @scratch_capture.respond_to? :basin_id
      .row
        .col-lg-6
          %h3 Basin
          %h4= format_with_placeholder(@scratch_capture.basin.try(:name))
        .col-lg-6
          %h3 Sub-Basin
          %h4= format_with_placeholder(@scratch_capture.sub_basin.try(:name))
    .row
      .col-lg-12
        %h3 Location Description
        %h4= format_with_placeholder(@scratch_capture.location_description.presence)
    .row
      .col-lg-12
        %h3 Comments
        %h4= format_with_placeholder(@scratch_capture.comments.presence)
  .col-md-6
    .row
      .map{ style: 'width: 100%; height: 540px', data: { path: geo_json_scratch_capture_path(@scratch_capture) }}
    .row{ style: 'margin-top: 10px'}
      .col-md-2
        = link_to 'Edit', edit_scratch_capture_path(@scratch_capture), class: 'btn btn-default'
      .col-md-2
        = link_to 'Convert to Recapture', convert_to_recapture_scratch_capture_path(@scratch_capture), method: :post, class: 'btn btn-default'