.table-container
  = form_for(@volunteer_time_log, :html =>{:role => 'form', id: 'volunteer_form'}) do |f|
    = render partial: 'partials/form_flash_messages', object: f.object
    .form-group
      = f.label :angler_id
      = f.autocomplete_field :angler_id, autocomplete_angler_angler_id_anglers_path, class: 'uppercase-field form-control', data: { 'parsley-required' => 'true' }
    .form-group
      = f.label :start
      = f.datetime_picker_field :start, value: f.object.start.try(:iso8601) , class: 'form-control', data: { 'parsley-required' => 'true', 'parsley-beforetoday' => '' }
    .form-group
      = f.label :end
      = f.datetime_picker_field :end, value: f.object.end.try(:iso8601), class: 'form-control', data: { 'parsley-required' => 'true', 'parsley-beforetoday' => '', 'parsley-greaterthandatefield' => '#volunteer_time_log_start', 'parsley-greaterthandatefield-message' => 'Must be after the start time' }
    .form-group.checkbox
      = f.label :verified do
        = f.check_box :verified, class: 'checkbox', data: { 'parsley-required' => 'true' }
        Verified
    = f.submit 'Submit', class: 'btn btn-default'