<%= render partial: 'partials/flash_messages' %>

<div class="row">
  <div class="col-md-2">
    <h1>Volunteer Hours Log</h1>

  </div>
  <div class="col-md-10">
    <a class="pull-right btn btn-default" href="<%= new_volunteer_time_log_path %>"><i class="fa fa-plus"></i> Create
      Log</a>

  </div>

</div>

<ul id="myTab" class="nav nav-tabs">
  <li role="presentation" class="active">
    <a href="#have_captures" data-toggle="tab">With Captures</a>
  </li>
  <li role="presentation">
    <a href="#all" data-toggle="tab">All </a>
  </li>
</ul>

<div class="tab-content">
  <div class="tab-pane fade in active" id="have_captures">
    <a class="btn btn-default pull-right download-button" href="/volunteer_time_logs.xlsx"><i class="fa fa-download"></i>
      Download</a>
    <%= render partial: 'volunteer_time_logs/index/table', locals: {id: 'withCapturesTimeLogIndexList'} %>
  </div>

  <div class="tab-pane fade" id="all">
    <a class="btn btn-default pull-right download-button" href="/volunteer_time_logs.xlsx?all=true"><i class="fa fa-download"></i>
      Download</a>
    <%= render partial: 'volunteer_time_logs/index/table', locals: {id: 'allTimeLogIndexList'} %>
  </div>
</div>

<%= render partial: 'volunteer_time_logs/index/modal' %>