%input.photo_field{:type => "file"}
  #image_holder
    %img#photo{:width => "600px"}

= form_for FrontPagePhotoStreamItem.new, :html => { :multipart => true, :id => "fileupload"  } do |f|
  = f.hidden_field :attachment64

%hr/

.row
  - @front_page_photo_stream_items.each do |picture|
    .col-md-4
      .card-1
        = form_for picture, {remote: true, method: :delete, html: {id: picture.id.to_s} } do |f|
          = image_tag picture.photo.image.url(:thumb)
          = submit_tag 'Delete Photo'
