<div class="table-container">
  <ul class="nav nav-tabs" id="myTabs">
    <li class="active"><a href="#nessie_front_page" data-toggle="tab">Nessie Front Page</a></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content">
    <div class="tab-pane fade in active" id="nessie_front_page">
      <%= render 'index_nessie_photos' %>
    </div>
  </div>
</div>