<tr data-link="<%= recapture_path(recapture) %>">
  <td class="anglerId-column"><%= recapture['angler_id'] %></td>
  <td><%= recapture['capture_angler'] %></td>
  <td class="tagId-column"><%= recapture['tag_number'] %></td>
  <td class="captureDate-column"><%= recapture['date_string'] %></td>
  <td class="species-column"><%= recapture['species_name'] %></td>
  <td class="length-column"><%= recapture['length'] %></td>
  <td class="latitude-column"><%= recapture['latitude'] %></td>
  <td class="longitude-column"><%= recapture['longitude'] %></td>
  <td class="fishCondition-column"><%= recapture['fish_condition'] %></td>
  <td class="verified-column"><%= recapture['verified'] ? '<i class="fa fa-check"></i>'.html_safe : '' %></td>
  <td class="recaptureDisposition-column"><%= recapture['disposition'] %></td>
  <td class="timeOfDay-column"><%= recapture['time_of_day'] %></td>
</tr>


