<tr data-link="<%= recapture_path(unverified_recapture) %>">
  <td class="capture-verify"><%= check_box_tag "recapture_ids[]", unverified_recapture.id, false, :class => 'verify-capture-checkbox' %></td>
  <td class="anglerId-column"><%= unverified_recapture['angler_id'] %></td>
  <td><%= unverified_recapture['capture_angler'] %></td>
  <td class="tagId-column"><%= unverified_recapture['tag_number'] %></td>
  <td class="captureDate-column"><%= unverified_recapture['date_string'] %></td>
  <td class="species-column"><%= unverified_recapture['species_name'] %></td>
  <td class="length-column"><%= unverified_recapture['length'] %></td>
  <td class="latitude-column"><%= unverified_recapture['latitude'] %></td>
  <td class="longitude-column"><%= unverified_recapture['longitude'] %></td>
  <td class="fishCondition-column"><%= unverified_recapture['fish_condition'] %></td>
  <td class="recaptureDisposition-column"><%= unverified_recapture['disposition'] %></td>
  <td class="timeOfDay-column"><%= unverified_recapture['time_of_day'] %></td>
</tr>