<h1>Listing recaptures</h1>

<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @recaptures.each do |recapture| %>
      <tr>
        <td><%= link_to 'Show', recapture %></td>
        <td><%= link_to 'Edit', edit_recapture_path(recapture) %></td>
        <td><%= link_to 'Destroy', recapture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recapture', new_recapture_path %>
