%h1= @recapture.tag_number

-# The tab selector
%ul.nav.nav-tabs{:role => "tablist"}
  %li.active{:role => "presentation"}
    %a{'aria-controls' => "capture", 'data-toggle' => 'tab', :href => '#capture', :role => 'tab'}= format_capture_tab(@recapture)
  -# add the tabs for any recaptures for this capture
  - @recapture.other_events.each_with_index do |other, index|
    %li{:role => 'presentation'}
      %a{'aria-controls' => "#{index.to_words}", 'data-toggle' => 'tab', href: "##{index.to_words}", role: 'tab'}= format_capture_tab(other)

-# The tab panes
.tab-content
  #capture.tab-pane.active{role: 'tabpanel', data: { path: geo_json_recapture_path(@recapture) } }
    = hidden_field_tag :id, @recapture.id, class: 'id'
    = render partial: 'recaptures/show_tab', object: @recapture
  -# Also add the panes for each recapture
  - @recapture.other_events.each_with_index do |other_event, index|
    .tab-pane{role: 'tabpanel', id: "#{index.to_words}", data: { path: recapture_other_geo_json_path(other_event) }}
      = hidden_field_tag :id, other_event.id, class: 'id'
      - if other_event.is_a? Capture
        = render partial: 'captures/show_tab', object: other_event
      - elsif other_event.is_a? Recapture
        = render partial: 'recaptures/show_tab', object: other_event