.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{style: 'width: 95%;'}
    .modal-content

      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} &times;
        %h3.modal-title Modal title

      .modal-body
        .table-container
          %table.table.table-striped
            %thead
              %tr
                %th R. Angler ID
                %th R. Angler Name
                %th Tag Number
                %th Recapture Date
                %th Species
                %th Length
                %th Length Range
                %th Time Of Day
                %th Fish Condition
                %th Latitude
                %th Longitude
            %tbody

      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Close