//@import "variables";
//@import '../utils/mixins/material_shadow';

.h1, .h2, .h3, h1, h2, h3 {
  margin-bottom: 20px;
}

.tab-pane {
  border-left: 1px solid $fish_la_blue;
  border-right: 1px solid $fish_la_blue;
  border-bottom: 1px solid $fish_la_blue;
  border-radius: 1px 1px 1px 1px;
  padding: 16px;
  background: $white;

}

.btn-toolbar {
  &.with-h1-title {
    margin-top: 20px;
  }
}

.nav-tabs {
  margin-bottom: 0;
  border-bottom-color: $fish_la_blue;

  li {
    &.active {
      a {
        border: 1px solid $fish_la_blue;
        border-bottom-color: $white;
        background: $white;

        &:hover, &:focus {
          border-color: $fish_la_blue;
          border-bottom-color: $white;
        }
      }
    }

    a {
      border-bottom-color: $fish_la_blue;
      border-radius: 1px 1px 0 0;
      color: #666666;

      &:hover {
        border: 1px solid $inactive_tab_background;
        border-bottom-color: $fish_la_blue;
        background: $inactive_tab_background;
      }
    }
  }
}

.btn {
  border-radius: 1px;
  text-transform: uppercase;

  &.btn-flat {
    @include card(0);
  }

  &.btn-sh-1 {
    @include card(1);
  }

  &.btn-sh-2 {
    @include card(2);
  }

  &.btn-sh-3 {
    @include card(3);
  }

  &.btn-success {
    background-color: $fish_la_green;
    border-color: $fish_la_green;
  }
}

.pagination {
  li {
      &.next a {
        border-bottom-right-radius: 1px;
        border-top-right-radius: 1px;
      }

      &.previous a {
        border-bottom-left-radius: 1px;
        border-top-left-radius: 1px;
      }
  }
}

.modal, .modal.fade {
  .modal-body {
    background: $primary_background;
  }

  .modal-header {
    background: $fish_la_green;

    h1, h2, h3, h4, h5 {
      color: $white;
    }

    .close {
      color: $white;
      opacity: 1;
    }
  }

  .modal-footer {
    margin-top: 0;
    background: $primary_background;
    border-top: 1px solid rgba(138, 138, 138, 0.75);
  }
}

.dropdown-menu {
  z-index: 1001;
}
