//@import "../utils/mixins/material_shadow";
//@import "variables";

@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono:400,700italic,700,400italic);

body {
  font-family: $font_name, $font_type;
  background: $secondary_background;

  h1, h2, h3 {
    color: $fish_la_blue;
  }

  li {
    &.parsley-required {
      color: red;
    }
  }

  .main-div {
    margin-top: -20px;
    margin-bottom: 20px;

    .content-center {
      @include card(1);

      background: $primary_background;
      width: 98%;
      margin: 0 auto;
      padding: 16px 16px 36px;

      div.dataTables_wrapper {
        margin-top: 20px;

        // We added this to fix the data tables from
        table.dataTable td {
          overflow: hidden; /* this is what fixes the expansion */
          text-overflow: ellipsis; /* not supported in all browsers, but I accepted the tradeoff */
          white-space: nowrap;
        }
      }

      span.placeholder {
        color: $placeholder_grey;
      }
    }
  }

  /*
    The base badge CSS came from here http://codepen.io/johnstuif/pen/pvLgYp
  */
  .notification-anchor {
    margin-left: 15px;
    margin-right: 8px;
    padding-top: 11px;

    &[data-count="0"]:after {
      display: none;
    }

    &:after {
      background: rgba(255, 0, 0, 0.9) none repeat scroll 0 0;
      border-radius: 99999px;
      color: white;
      content: attr(data-count);
      font-size: 81%;
      font-weight: bold;
      line-height: 0.75em;
      min-width: 2em;
      padding: 0.6em;
      position: absolute;
      right: -34%;
      text-align: center;
      top: 11%;
    }
  }

  .notifications.popover {
    width: 300px;
    border-radius: 1px;
    margin-top: 19px;

    .popover-content {
      padding: 0;
    }
  }

  .notification-content {

    .all_read {
      height: 200px;
      text-align: center;
      vertical-align: middle;
      line-height: 200px;
    }

    .header {
      font-size: 11px;
      color: #999;
      padding: 8px;
      border-bottom: 1px solid #f1f1f1;
    }

    .navigation {
      padding: 8px;
    }

    .notification-item {

      position: relative;
      padding: 7px 12px;
      border-bottom: 1px solid #f1f1f1;
      background-color: white;

      &:hover .overlay {
        display:block;
      }

      .overlay{
        width:100%;
        height:100%;
        display:none;
        position:absolute;
        top:0px;
        left:0px;
        background: rgba(25, 25, 25, .65);

        .notification-action {
          color: #adadad;
          display: block;
          font-size: 3em;
          position: absolute;

          &:hover {
            color: white;
          }

          &.notification-close {
            left: 58%;
            top: 13%;
          }

          &.notification-open {
            left: 29%;
            top: 18%;
          }
        } // end .notification-action

      } // end .overlay

      .notification-title {

        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        padding-bottom: 1px;

        &.green {
          color: green;
        }
        &.pink {
          color: deeppink;
        }
        &.purple {
          color: rebeccapurple;
        }
        &.blue {
          color: deepskyblue;
        }
        &.orange {
          color: orangered;
        }
        &.unknown {
          color: grey;
        }
      }

      .notification-info {
        font-size: 11px;
        color: #999;
        margin-right: 35px;
        display: block;
      }

      .notification-time {
        font-size: 11px;
        color: #bbb;
        margin-right: 35px;
        font-style: italic;
      }

      .notification-icon {
        width: 26px;
        height: 26px;
        line-height: 26px;
        text-align: center;
        border-radius: 2px;
        position: absolute;
        top: 50%;
        right: 0;
        margin: -13px 12px 0 0;
        font-size: 14px;
        color: white;

        &.green {
          background: green;
        }
        &.pink {
          background: deeppink;
        }
        &.purple {
          background: rebeccapurple;
        }
        &.blue {
          background: deepskyblue;
        }
        &.orange {
          background: orangered;
        }
        &.unknown {
          background: grey;
        }
      }
    }
  }
}

.table-container {
  border: 1px solid $fish_la_blue;
  background: $white;
  padding: 16px;
}

#subtitle_container a {
  &.subtitle-button {
    margin-top: 20px;
  }
  &.green-button {
    color: $white;
  }
}

.dataTable {
  &.select tbody tr {
    cursor: pointer;
  }

  thead th:first-child {
    cursor: pointer;
  }

  tbody tr.selected {
    background: $fish_la_blue_1;
  }

  .datatable-all-checkbox {
    margin-top: 0;
    margin-bottom: 0;
  }

  .dt-body-center {
    text-align: center;
  }
}

.dataTables_paginate {
  $margin: 5px;

  margin-bottom: 10px !important;

  .paginate_button {
    padding: 10px;
    border: 1px solid $color_celeste_approx;
    margin-right: $margin;

    &.current {
      border: 1px solid $fish_la_blue;
    }

    &.next {
      margin-left: 0;
      margin-right: 0;
    }
  }

  .ellipsis {
    margin-right: $margin;
  }
}

.chosen-container {
  width: 100% !important;
}

.card-1 {
  @include card(1);
}

.card-2 {
  @include card(2);
}

.card-3 {
  @include card(3);
}