//colors
$primary_background: #efe2c7;
$secondary_background: #ded2a6;
$color_celeste_approx: #ccc;
$color_mountain_mist_approx: #999;
$placeholder_grey: #9d9d9d;
$white: #ffffff;
$fish_la_blue: #195270;
$fish_la_blue_1: rgb(176, 223, 243);
$fish_la_blue_2: rgb(67, 120, 158);
$fish_la_green: #64723e;
$inactive_tab_background: #d0d0d0;

$fish_la_blue_progress: rgb(54, 98, 163);

//fonts
$font_name: Roboto;
$font_type: sans-serif;