<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
Attached is the capture report for <%= (Time.now() - 24.hours).strftime("%m/%d/%Y").to_s %>.
</body>
</html>