<!DOCTYPE html>
<html>
    <head>
      <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
    </head>
    <body>
        <h1><%= @user.first_name %> <%= @user.last_name %> has just registered</h1>

        <h2>Contact Info</h2>
        <%= @user.angler.try(:angler_id) %>
        <%= @user.email %>
        <%= @angler.phone_number_1 %>
        <%= @angler.comments %>
        <a href="https://narwhal.taglouisiana.com<%= edit_user_path(@user) %>"><%= edit_user_path(@user) %></a>
    </body>
</html>