<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1>Recapture Submitted</h1>

<p><%= "#{@angler.first_name} #{@angler.last_name} (#{@capture.angler.try(:angler_id).try(:upcase)})" %>
  has submitted a recapture.</p>

<%= label_tag 'Tag Number' %> <br>
<%= @tag.tag_no %>
<br>

<br>

<%= label_tag :capture_date %>  <br>
<%= @capture.capture_date.strftime('%B %d, %Y') %>  <br>

<br>

<%= label_tag 'Species' %> <br>
<%= @species.common_name %> <br>

<br>

<img src="<%= @map %>">

<br>
<br>

<a href="https://narwhal.taglouisiana.com<%= capture_path(@capture) %>">Edit Recapture</a>
</body>
</html>
