<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
</head>
<body>
<h1>New Tag Order Request</h1>

<p><%= "#{@angler.full_name} - (#{@angler.angler_id})" %>
  has requested tags.</p>
<%# @tag_request.each do |request| %>
<%= label_tag 'Type:' %> <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @tag_request.tag_type %>
<br>

  <br>

  <%= label_tag 'Quantity:' %>  <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<%= @tag_request.number_of_tags %>  <br>
<%# end %>

<br>

<a href="https://narwhal.taglouisiana.com<%= user_tag_requests_path %>">View Tag Requests</a>
</body>
</html>