.panel.panel-default
  .panel-heading
    %h4.panel-title
      %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFive"}
        Anglers
      .pull-right.count
  #collapseFive.panel-collapse.collapse
    .panel-body
      - if !results
        = render :partial => 'search/loader', :locals => { :q => q, :name => name, :term => term, :row => 'angler' }
      .panel-table
        %table.table.table-striped.table-hover{:style => "font-size:1em;"}
          %thead
            %tr
              %th Angler ID
              %th First
              %th Last
              %th Street
              %th Suite
              %th City
              %th State
              %th Zip
              %th Phone No. 1
              %th Email
              %th Open
          %tbody
            - if results
              = render :partial => 'search/section_rows/angler', :collection => results