.panel.panel-default
  .panel-heading
    %h4.panel-title
      %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFour"}
        Draft Captures
      .pull-right.count
  #collapseFour.panel-collapse.collapse
    .panel-body
      - if !results
        = render :partial => 'search/loader', :locals => { :q => q, :name => name, :term => term, :row => 'draft_capture' }
      .panel-table
        %table.table.table-striped.table-hover{:style => "font-size:1em;"}
          %thead
            %tr
              %th Angler ID
              %th Angler Name
              %th Tag
              %th Capture Date
              %th Species
              %th Latitude
              %th Longitude
              %th Fish Condition
              %th Recapture
              %th Status
              %th Open
          %tbody
            - if results
              = render :partial => 'search/section_rows/draft_capture', :collection => @results[:draft_captures]
