.panel.panel-default
  .panel-heading
    %h4.panel-title
      %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSix"}
        Tags
      .pull-right.count
  #collapseSix.panel-collapse.collapse
    .panel-body
      - if !results
        = render :partial => 'search/loader', :locals => { :q => q, :name => name, :term => term, :row => 'tag' }
      .panel-table
        %table.table.table-striped
          %thead
            %tr
              %th Tag no
              %th Angler ID
              %th Angler Name
              %th Assignment Date
          %tbody
            - if results
              = render :partial => 'search/section_rows/tag', :collection => results