.panel.panel-default
  .panel-heading
    %h4.panel-title
      %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
        Unverified Captures
      .pull-right.count
  #collapseTwo.panel-collapse.collapse
    .panel-body
      - if !results
        = render :partial => 'search/loader', :locals => { :q => q, :name => name, :term => term, :row => 'capture' }
      .panel-table
        %table.table.table-striped.table-hover{:style => "font-size:1em;"}
          %thead
            %tr
              %th Angler ID
              %th Angler
              %th Tag
              %th Capture Date
              %th Species
              %th Latitude
              %th Longitude
              %th Fish Condition
              %th Has Recapture
              %th Open
          %tbody
            - if results
              = render :partial => 'search/section_rows/capture', :collection => results