.panel.panel-default
  .panel-heading
    %h4.panel-title
      %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseEight"}
        Users
      .pull-right.count
  #collapseEight.panel-collapse.collapse
    .panel-body
      - if !results
        = render :partial => 'search/loader', :locals => { :q => q, :name => name, :term => term, :row => 'user' }
      .panel-table
        %table.table.table-striped
          %thead
            %tr
              %th First Name
              %th Last Name
              %th Email
              %th Angler ID
              %th Date Created
              %th Roles
              %th Open
          %tbody
            - if results
              = render :partial => 'search/section_rows/user', :collection => results