.panel.panel-default
  .panel-heading
    %h4.panel-title
      %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseSeven"}
        Volunteer Hours
      .pull-right.count
  #collapseSeven.panel-collapse.collapse
    .panel-body
      - if !results
        = render :partial => 'search/loader', :locals => { :q => q, :name => name, :term => term, :row => 'volunteer_hour' }
      .panel-table
        %table.table.table-striped
          %thead
            %tr
              %th Angler ID
              %th First Name
              %th Last Name
              %th Total Time
              %th Start Time
              %th End Time
              %th Verified
              %th Number of Captures
              %th Open
          %tbody
            - if results
              = render :partial => 'search/section_rows/volunteer_hour', :collection => results