<p>Hello <%= @resource.first_name %>!</p>

<p>Welcome to LDWF Fishtagging Management. Here is a link to create a new password for the system.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>
