-# we need to have to locals passed in, :path and :recapture
%section#report_container
  = form_tag report_angler_info_path, remote: true, onsubmit: 'downloadWaitingDialog.show("Loading")' do
    = hidden_field_tag :section, @section

    .row
      .col-md-3
        .form-group
          = label_tag :start_date, 'Start Date'
          = date_picker_field_tag :start_date, nil, class: 'form-control',  data: { 'parsley-beforetoday' => ''}
      .col-md-3
        .form-group
          = label_tag :end_date, 'End Date'
          = date_picker_field_tag :end_date, nil, class: 'form-control',  data: { 'parsley-beforetoday' => '', 'parsley-greaterthandatefield' => '#start_date', 'parsley-greaterthandatefield-message' => 'Must be after the start date' }
      .col-md-3
        .form-group
          = label_tag :minimum_captures, 'Minimum Captures'
          = text_field_tag :minimum_captures
    .row
      .col-md-1
        = button_tag 'Reset', class: 'btn btn-danger form-control', type: 'reset'
      .col-md-2
        %button.btn.btn-default.pull-right.download{type: 'button'}
          %i.fa.fa-download
          Download