%section#report_container
  = form_tag report_angler_banquet_path, remote: true do
    = hidden_field_tag :section, @section
    .row
      .col-md-4
        .form-group
          = label_tag :start_date, 'Start Date'
          = date_picker_field_tag :start_date, nil, class: 'form-control', placeholder: 'Default: Start of Season',  data: { 'parsley-beforetoday' => '' }
      .col-md-4
        .form-group
          = label_tag :end_date, 'End Date'
          = date_picker_field_tag :end_date, nil, class: 'form-control', placeholder: 'Default: Now', data: { 'parsley-beforetoday' => '', 'parsley-greaterthandatefield' => '#start_date', 'parsley-greaterthandatefield-message' => 'Must be after the start date' }
    .row
      .col-md-1
        = button_tag 'Reset', class: 'btn btn-danger ', type: 'reset'
      .col-md-1
        = submit_tag 'Submit', class: 'btn btn-default'

    #results
      %hr
        .row
      .col-md-2
        %h3 Results
      .col-md-10
        %button.btn.btn-default.download.pull-right{type: 'button'} Download
      %table.table.table-striped
        %thead
          %tr
            %th Angler ID
            %th First Name
            %th Last Name
            %th Captures
            %th Recaptures
            %th # Redfish
            %th # Red Snapper
            %th # Speckled Trout
            %th # Yellowfin Tuna
        %tbody