%section#report_container
  = form_tag report_random_event_path, remote: true do
    = hidden_field_tag :section, @section

    .row
      .col-md-3
        .form-group
          = label_tag :start_date, 'Start Date'
          = date_picker_field_tag :start_date, nil, class: 'form-control',  data: { 'parsley-beforetoday' => '' }
      .col-md-3
        .form-group
          = label_tag :end_date, 'End Date'
          = date_picker_field_tag :end_date, nil, class: 'form-control ',  data: { 'parsley-beforetoday' => '', 'parsley-greaterthandatefield' => '#start_date', 'parsley-greaterthandatefield-message' => 'Must be after the start date' }
      .col-md-3
        .form-group
          = label_tag :capture_type, 'Event Type'
          = select_tag :capture_type, options_for_select([['Captures'], ['Recaptures']]), class: 'form-control chosen-select'
      .col-md-3
        .form-group
          = label_tag :limit, 'Rows to Fetch'
          = text_field_tag :limit, nil, class: 'form-control', placeholder: 'Default: 1',  data: { 'parsley-min' => '1' }

    .row
      .col-md-1
        = button_tag 'Reset', class: 'btn btn-danger form-control', type: :reset
      .col-md-1
        = submit_tag 'Submit', class: 'btn btn-default form-control'

    #results.collapse
      %hr
      %h3 Results
      %table.table.table-striped
        %thead
          %tr
            %th Angler ID
            %th First Name
            %th Last Name
            %th Tag Number
            %th Species
            %th Capture Date
        %tbody