%section#report_container
  = form_tag report_custom_path, remote: true do

    .field-set
      .row
        .col-md-2
          %h5 Angler ID(s)
        .col-md-3
          .btn-group{role: :group}
            = button_tag font_awesome_icon('fa-plus').html_safe, class: 'btn btn-default add', type: :button
            = button_tag font_awesome_icon('fa-minus').html_safe, class: 'btn btn-default remove collapse', type: :button
      .row.multiple
        .col-md-12
          .input-group
            = autocomplete_field_tag 'custom_query[terms][anglers][][angler_id]' , nil, autocomplete_angler_angler_id_anglers_path, class: 'form-control'
            %span.input-group-addon.hidden AND

    .field-set
      .row
        .col-md-2
          %h5 Tag Number(s)
        .col-md-3
          .btn-group{role: :group}
            = button_tag font_awesome_icon('fa-plus').html_safe, class: 'btn btn-default add', type: :button
            = button_tag font_awesome_icon('fa-minus').html_safe, class: 'btn btn-default remove collapse', type: :button
            = button_tag 'Range', class: 'btn btn-default range', type: :button
      .row.numbers.multiple
        .col-md-12
          .input-group
            = autocomplete_field_tag 'custom_query[terms][tags][][tag_number]' , nil, autocomplete_tag_number_any_tags_path, class: 'form-control'
      .row.range.collapse
        .col-md-4
          .input-group
            = autocomplete_field_tag :tag_min, nil, autocomplete_tag_number_any_tags_path, name: 'custom_query[terms][tag_range][min]', class: 'form-control'
            %span.input-group-addon TO
            = autocomplete_field_tag :tag_max, nil, autocomplete_tag_number_any_tags_path, name: 'custom_query[terms][tag_range][max]', class: 'form-control', data: { 'parsley-greaterthanfield' => '#tag_min', 'parsley-greaterthandatefield-message' => 'Must be after the start tag' }

    .field-set
      .row
        .col-md-2
          %h5 Location Description
        .col-md-3
          .btn-group{role: :group}
            = button_tag font_awesome_icon('fa-plus').html_safe, class: 'btn btn-default add', type: :button
            = button_tag font_awesome_icon('fa-minus').html_safe, class: 'btn btn-default remove collapse', type: :button
      .row.multiple
        .col-md-12
          .input-group
            = text_field_tag :location , nil, class: 'form-control', name: 'custom_query[terms][location_descriptions][][location_term]'
            %span.input-group-addon.hidden AND

    .field-set
      .row
        .col-md-2
          %h5 Comments
        .col-md-3
          .btn-group{role: :group}
            = button_tag font_awesome_icon('fa-plus').html_safe, class: 'btn btn-default add', type: :button
            = button_tag font_awesome_icon('fa-minus').html_safe, class: 'btn btn-default remove collapse', type: :button
      .row.multiple
        .col-md-12
          .input-group
            = text_field_tag :comments , nil, class: 'form-control', name: 'custom_query[terms][comments][][comment_term]'
            %span.input-group-addon.hidden AND

    .field-set
      .row
        .col-md-2
          %h5 Length Range
      .row
        .col-md-4
          .input-group
            = text_field_tag :range_min , nil, class: 'form-control', name: 'custom_query[terms][length][min]', placeholder: 'Min'
            %span.input-group-addon TO
            = text_field_tag :range_max , nil, class: 'form-control', name: 'custom_query[terms][length][max]', placeholder: 'Max',  data: { 'parsley-greaterthandatefield' => '#range_min', 'parsley-greaterthandatefield-message' => 'Must be larger than the min length' }

    .field-set
      .row
        .col-md-2
          %h5 Date Range
      .row
        .col-md-4
          .input-group
            = date_picker_field_tag :date_min , nil, class: 'form-control', name: 'custom_query[terms][capture_date][min]', placeholder: 'Min'
            %span.input-group-addon TO
            = date_picker_field_tag :date_max , nil, class: 'form-control', name: 'custom_query[terms][capture_date][max]', placeholder: 'Max', data: { 'parsley-greaterthandatefield' => '#date_min', 'parsley-greaterthandatefield-message' => 'Must be after min date' }

    .field-set
      .row
        .col-md-2
          %h5 Time of Day
          %p.help-block To select "All", leave blank
      .row
        .col-md-12
          .input-group{style: 'width: 100%'}
            = collection_select :time_of_day_option, :time_of_day, TimeOfDayOption.all, :id, :time_of_day_option, {include_blank: false}, {multiple: true, name: 'custom_query[terms][time_of_day_options][][time_of_day]', class: 'form-control chosen-select'}

    .field-set
      .row
        .col-md-2
          %h5 Fish Condition
          %p.help-block To select "All", leave blank
      .row
        .col-md-12
          .input-group{style: 'width: 100%'}
            = collection_select :fish_condition_option, :fish_condition, FishConditionOption.all, :id, :fish_condition_option, {include_blank: false}, {multiple: true, name: 'custom_query[terms][fish_condition_options][][fish_condition]', class: 'form-control chosen-select'}

    .field-set
      .row
        .col-md-2
          %h5 Basins
          %p.help-block To select "All", leave blank
      .row
        .col-md-12
          .input-group{style: 'width: 100%'}
            - sub_basin_json = { data: Basin.includes(:sub_basins).to_a.each_with_object({}){ |basin,hash| hash[basin.gid.to_s] = basin.sub_basins.order(name: :asc).map{ |s| { gid: s.gid, basin_gid: s.basin.gid, name: "#{s.basin.name} - #{s.name}"}}}}.to_json.to_s
            = collection_select :basins, :basin, Basin.order('name asc').all, :gid, :name, {include_blank: false}, { multiple: true, name: 'custom_query[terms][basin][][basin_id]', class: 'form-control chosen-select', "data-sub-basin" => sub_basin_json }

    .field-set
      .row
        .col-md-4
          %h5 Sub Basins
          %p.help-block To select "All", leave blank
      .row
        .col-md-12
          .input-group{style: 'width: 100%'}
            = select(:sub_basins, :sub_basin, [], {include_blank: false}, {multiple: true, name: 'custom_query[terms][sub_basin][][sub_basin_id]', class: 'form-control chosen-select'})

    .field-set
      .row
        .col-md-3
          %h5 Species
          %p.help-block To select "All", leave blank
      .row
        .col-md-12
          .input-group{style: 'width: 100%'}
            = collection_select(:species, :species_id, Species.order('common_name asc').all, :id, :common_name, {include_blank: false}, {multiple: true, name: 'custom_query[terms][species][][species_id]', class: 'form-control chosen-select'})

    .field-set
      .row
        .col-md-3
          %h5 Search On
      .row
        .col-md-2
          .checkbox
            = label_tag :captures do
              = check_box_tag :captures, 1, true, name: 'custom_query[search][captures]', class: 'checkbox'
              Captures
        .col-md-2
          .checkbox
            = label_tag :recaptures do
              = check_box_tag :recaptures, 1, nil, name: 'custom_query[search][recaptures]', class: 'checkbox'
              Recaptures

    .field-set
      .row
        .col-md-3
          %h5 Include Columns From
      .row
        .col-md-2
          .checkbox
            = label_tag :captures do
              = check_box_tag :captures, 1, true, :name => 'custom_query[config][captures]', class: 'checkbox'
              Captures
        .col-md-2
          .checkbox
            = label_tag :recaptures do
              = check_box_tag :recaptures, 1, true, :name => 'custom_query[config][recaptures]', class: 'checkbox'
              Recaptures

    = button_tag 'Download', class: 'btn btn-default download', type: :button