%section#report_container
  = form_tag report_data_check_path, remote: true do
    = hidden_field_tag :section, @section

    .row
      .col-md-4
        .form-group
          = label_tag :user_id, 'User ID'
          = select_tag :user_id, options_from_collection_for_select(User.with_logged_activity, :id, :full_name), {:include_blank => true, :class => 'form-control chosen-select', "data-live-search" => "true"}
      .col-md-4
        .form-group
          = label_tag :start_date, 'Start Date'
          = date_picker_field_tag :start_date, nil, class: 'form-control', placeholder: 'Default: Beginning of Yesterday',  data: { 'parsley-beforetoday' => '' }
      .col-md-4
        .form-group
          = label_tag :end_date, 'End Date'
          = date_picker_field_tag :end_date, nil, class: 'form-control', placeholder: 'Default: End of Yesterday', data: { 'parsley-beforetoday' => '', 'parsley-greaterthandatefield' => '#start_date', 'parsley-greaterthandatefield-message' => 'Must be after the start date' }
    .row
      .col-md-1
        = button_tag 'Reset', class: 'btn btn-danger ', type: 'reset'
      .col-md-1
        = submit_tag 'Submit', class: 'btn btn-default'
      .col-md-1
        %button.btn.btn-default.download.pull-right{type: 'button'} Download

  #results.collapse
    %hr
    %h3 Results
    %br
    %div{:role => "tabpanel"}
      %ul.nav.nav-tabs{:role => "tablist"}
        %li.active{:role => "presentation"}
          %a{"aria-controls" => "captures", "data-toggle" => "tab", :href => "#captures", :role => "tab"} Captures
        %li{:role => "presentation"}
          %a{"aria-controls" => "recaptures", "data-toggle" => "tab", :href => "#recaptures", :role => "tab"} Recaptures
        %li{:role => "presentation"}
          %a{"aria-controls" => "tags", "data-toggle" => "tab", :href => "#tags", :role => "tab"} Tags
        %li{:role => "presentation"}
          %a{"aria-controls" => "tags", "data-toggle" => "tab", :href => "#anglers", :role => "tab"} Anglers
      .tab-content
        #captures.tab-pane.active{:role => "tabpanel"}
          %table#captureResults.table.table-striped.results{"aria-disabled" => ""}
            %thead
              %tr
                %th User Name
                %th Action
                %th Angler ID
                %th Angler Name
                %th Tag Number
                %th Capture Date
                %th Species
                %th Date
            %tbody
        /
          Recaptures tab
        #recaptures.tab-pane{:role => "tabpanel"}
          %table#recaptureResults.table.table-striped.results{"aria-disabled" => ""}
            %thead
              %tr
                %th User Name
                %th Action
                %th Angler ID
                %th Angler Name
                %th Tag Number
                %th Capture Date
                %th Species
                %th Date
            %tbody
        /
          Tags tab
        #tags.tab-pane{:role => "tabpanel"}
          %table#tagResults.table.table-striped.results{"aria-disabled" => ""}
            %thead
              %tr
                %th User Name
                %th Action
                %th Angler ID
                %th Angler Name
                %th Start Tag
                %th End Tag
                %th # Tags
                %th Date
            %tbody
          %span Anglers with a '*' are guesses. With the new updates we can better track the changes of tags over time.
        /
          Tags tab
        #anglers.tab-pane{:role => "tabpanel"}
          %table#anglersResults.table.table-striped.results{"aria-disabled" => ""}
            %thead
              %tr
                %th User Name
                %th Action
                %th Angler ID
                %th Angler Name
                %th Angler Email
                %th Date
            %tbody
              / end of tab content
              / end of tab panel
              / end of results container