%section#report_container
  = form_tag report_days_at_large_path, remote: true do
    = hidden_field_tag :section, @section

    .row
      .col-md-3
        .form-group
          = label_tag :angler_id, 'Angler ID'
          = autocomplete_field_tag :angler_id, '', autocomplete_angler_angler_id_anglers_path, :class => 'form-control'
    .row
      .col-md-3
        .form-group
          = label_tag :time_frame, 'Max Days'
          = text_field_tag :time_frame, nil, placeholder: 'Defaults to 365', class: 'form-control', data: { 'parsley-min' => '1' }
      .col-md-3
        .form-group
          = label_tag :start_date, 'Start Date'
          = date_picker_field_tag :start_date, nil, class: 'form-control', data: { 'parsley-beforetoday' => '' }
      .col-md-3
        .form-group
          = label_tag :end_date, 'End Date'
          = date_picker_field_tag :end_date, nil, class: 'form-control', data: { 'parsley-beforetoday' => '', 'parsley-greaterthandatefield' => '#start_date', 'parsley-greaterthandatefield-message' => 'Must be after the start date' }
      .col-md-3
        .form-group
          = label_tag :species, 'Species'
          = select_tag :species_id, options_from_collection_for_select(Species.order('ordinal_position desc, common_name asc').all, :id, :common_name), {:include_blank => true, :class => 'form-control chosen-select'}

    .row
      .col-md-1
        = button_tag 'Reset', class: 'btn btn-danger form-control', type: 'reset'
      .col-md-1
        = submit_tag 'Submit', class: 'btn btn-default form-control'

    #results
      %hr
      %h3 Results
      %table.table.table-striped
        %thead
          %tr
            %th Angler ID
            %th First Name
            %th Last Name
            %th Tag Number
            %th Species
            %th Capture Date
            %th Recapture Date
            %th Days At Large
        %tbody