%section#report_container
  = form_tag report_saltwater_path, remote: true do
    = hidden_field_tag :section, @section
    .row
      .col-md-3
        .form-group
          = label_tag :start_date, 'Start Date'
          = date_picker_field_tag :start_date, nil, class: 'form-control', name: 'custom_query[terms][capture_date][min]', data: { 'parsley-beforetoday' => '' }
      .col-md-3
        .form-group
          = label_tag :end_date, 'End Date'
          = date_picker_field_tag :end_date, nil, class: 'form-control', name: 'custom_query[terms][capture_date][max]', data: { 'parsley-beforetoday' => '', 'parsley-greaterthandatefield' => '#start_date', 'parsley-greaterthandatefield-message' => 'Must be after the start date' }
    .row
      .col-md-2
        = button_tag 'Reset', class: 'btn btn-danger form-control', type: :reset
      .col-md-2
        = button_tag 'Download', class: 'btn btn-default form-control download', type: :button