%section#report_container
  = form_tag report_sql_dump_path, remote: true do
    = hidden_field_tag :section, @section

    .results
      %hr
        .row
      .col-md-5
        %h3 Download SQL Dump
      .col-md-5
        %button.btn.btn-default.download.pull-right{type: 'button'} Download

  = form_tag report_sql_csv_path, remote: true do
    = hidden_field_tag :section, @section

    .results
      %hr
        .row
      .col-md-5
        %h3 Download SQL Dump as CSV
      .col-md-5
        %button.btn.btn-default.download.pull-right{type: 'button'} Download