.card.card-1.card-map-form
  %h3 Configure Map
  = form_tag(nil, class: 'form-horizontal') do
    .form-group
      = label_tag :map_type, 'Map Type', class: 'col-sm-2 control-label'
      .col-sm-10
        - options = [{ value: 'Points', url: stats_fish_event_points_path }, { value: 'Basins', url: stats_fish_event_basins_path },{ value: 'Heatmap', url: stats_fish_event_heatmap_path }]
        = select_tag :map_type, options_for_select(options.map{ |m| [m[:value], { data: { url: m[:url]} }] }, ['Points']), class: 'form-control'
    .form-group
      = label_tag :recapture, 'Event Type', class: 'col-sm-2 control-label'
      .col-sm-10
        = select_tag :recapture, options_for_select([['Captures',  false], ['Recaptures', true]], ['Captures']), class: 'form-control'
    .form-group
      = label_tag :during, 'During', class: 'col-sm-2 control-label'
      .col-sm-7
        = select_tag :number_of_days, options_for_select(16.times.collect {|t| m = ((t + 1) * 15);   ["#{m} days", m] }, 15), class: 'form-control'
      .col-sm-4.hidden
        = text_field_tag :start_date, nil, :class => 'form-control date-input', placeholder: 'Start Date'
      .col-sm-4.hidden
        = text_field_tag :end_date, nil, :class => 'form-control date-input', placeholder: 'End Date'
      .col-xs-offset-10.col-xs-2.col-sm-offset-0.col-sm-3
        %button.btn.btn-default.form-control.range{type: 'button'} Range
    .form-group
      .col-sm-offset-2.col-sm-10
        %button.btn.btn-default{:type => 'submit'} Update Map