.card.card-1.card-species{data: {url: stats_species_counts_path}}
  %h3.text-center= title
  = form_tag(nil) do
    = hidden_field_tag :start_date, 30.days.ago.iso8601, data: { default: 30.days.ago.iso8601 }, class: 'start-date-field'
    = hidden_field_tag :end_date, Time.now.iso8601, data: { default: Time.now.iso8601 }, class: 'end-date-field'
    = hidden_field_tag :recapture, recapture, class: 'recapture-field'
    .row
      .col-xs-12.col-sm-6.col-lg-4
        = select_tag :month, options_for_select((1..12).map {|m| [Date::MONTHNAMES[m], Date::MONTHNAMES[m]]}, Time.now.month), class: 'form-control month-field'
      .col-xs-12.col-sm-6.col-lg-4
        = select_tag :year, options_for_select((20.years.ago.year..Time.now.year).map {|m| [m, m]}.reverse, Time.now.year), class: 'form-control year-field'
      .col-xs-6.col-sm-6.col-lg-2
        %button.btn.btn-default.form-control.range{type: 'submit'} Update
      .col-xs-6.col-sm-6.col-lg-2
        %button.btn.btn-default.form-control.range{type: 'reset'} Reset
  .results
    = render partial: 'partials/loading'
    .placeholder.collapse
      .span No data
    %table.table.table-striped.collapse
      %thead
      %tbody