%h1 Stats

.row
  .col-lg-3.col-sm-6.col-xs-12
    = render partial: 'value_card', locals: { title: 'Active Anglers', url: stats_active_anglers_path }
  .col-lg-3.col-sm-6.col-xs-12
    = render partial: 'value_card', locals: { title: 'Total Anglers', url: stats_total_anglers_path }
  .col-lg-3.col-sm-6.col-xs-12
    = render partial: 'value_card', locals: { title: 'All Time Captures', url: stats_total_captures_path }
  .col-lg-3.col-sm-6.col-xs-12
    = render partial: 'value_card', locals: { title: 'All Time Recaptures', url: stats_total_recaptures_path }
.row
  .col-lg-6.col-sm-6.col-xs-12
    = render partial: 'species_table', locals: { title: 'Captures in the last 30 days', recapture: 'false' }
  .col-lg-6.col-sm-6.col-xs-12
    = render partial: 'species_table', locals: { title: 'Recaptures in the last 30 days', recapture: 'true' }
.row
  .col-lg-8.col-sm-6.col-xs-12
    = render partial: 'map'
  .col-lg-4.col-sm-6.col-xs-12
    = render partial: 'map_form'