@mixin bp($point) {
  @if $point == lg {
    @media (min-width: 1201px) { @content; }
  }
  @if $point == md {
    @media (max-width: 1200px) { @content; }
  }
  @else if $point == sm {
    @media (max-width: 992px) { @content; }
  }
  @else if $point == xs {
    @media (max-width: 768px)  { @content; }
  }
}