<tr data-link="<%= capture_path(capture.id) %>">
  <td><%= capture.tag_number %></td>
  <td><%= capture.capture_date.try(:strftime, '%m/%d/%Y') %></td>
  <td><%= capture.species_name %></td>
  <td><%= capture.latitude_formatted %></td>
  <td><%= capture.longitude_formatted %></td>
  <td><%= capture.fish_condition_option_id %></td>
  <td><%= capture.verified ? font_awesome_icon('fa-check') : '' %></td>
  <td><%= capture['has_recapture'] ? font_awesome_icon('fa-check') : '' %></td>
  <td><%= capture.time_of_day %></td>
  <td><%= link_to font_awesome_icon('fa-external-link'), capture_path(capture.id) %></td>
</tr>
