<tr data-link="<%= edit_draft_capture_path(draft_capture) %>">
  <td><%= draft_capture.tag_number %></td>
  <td><%= draft_capture.capture_date.try(:strftime, '%m/%d/%Y') %></td>
  <td><%= draft_capture.species.try(:common_name) %></td>
  <td><%= draft_capture.length %></td>
  <td><%= draft_capture.latitude_string %></td>
  <td><%= draft_capture.longitude_string %></td>
  <td><%= draft_capture.fish_condition_id %></td>
  <td><%= draft_capture.recapture ? '<i class="fa fa-check"></i>'.html_safe : '' %></td>
  <td><%= link_to font_awesome_icon('fa-external-link'), draft_capture_path(draft_capture.id) %></td>
</tr>