.row
  .col-md-3.col-sm-6.col-xs-12
    %h4 First Name
    %h5= format_with_placeholder(fields.first_name)
  .col-md-3.col-sm-6.col-xs-12
    %h4 Last Name
    %h5= format_with_placeholder(fields.last_name)
  .col-md-3.col-sm-6.col-xs-12
    %h4 Street
    %h5= format_with_placeholder(fields.street)
  .col-md-3.col-sm-6.col-xs-12
    %h4 Suite
    %h5= format_with_placeholder(fields.suite)
  .col-md-3.col-sm-6.col-xs-12
    %h4 City
    %h5= format_with_placeholder(fields.city)
  .col-md-3.col-sm-6.col-xs-12
    %h4 State
    %h5= format_with_placeholder(fields.state)
  .col-md-3.col-sm-6.col-xs-12
    %h4 Zip Code
    %h5= format_with_placeholder(fields.zip)
  .col-md-3.col-sm-6.col-xs-12
    %h4 Phone Number 1
    %h5= format_with_placeholder(number_to_phone(fields.phone_number_1, area_code: true))
  .col-md-3.col-sm-6.col-xs-12
    %h4 Phone Number 2
    %h5= format_with_placeholder(number_to_phone(fields.phone_number_2, area_code: true))
  .col-md-3.col-sm-6.col-xs-12
    %h4 Email
    %h5= format_with_placeholder(fields.email)
  .col-md-3.col-sm-6.col-xs-12
    %h4 Tag End User Type
    %h5= format_with_placeholder(TagEndUserType.where(id: fields.tag_end_user_type).first.try(:name))
  .col-md-3.col-sm-6.col-xs-12
    %h4 Shirt Size
    %h5= format_with_placeholder(fields.shirt_size_name)
.row
  .col-xs-12
    %h4 Comments
    %h5= format_with_placeholder(fields.comments)