<tr data-link="<%= recapture_path(recapture) %>">
  <td><%= recapture.tag_number %></td>
  <td><%= recapture.capture_date.try(:strftime, '%m/%d/%Y') %></td>
  <td><%= recapture.species_name %></td>
  <td><%= recapture.latitude_formatted %></td>
  <td><%= recapture.longitude_formatted %></td>
  <td><%= recapture.fish_condition_option_id %></td>
  <td><%= recapture.verified ? font_awesome_icon('fa-check') : '' %></td>
  <td><%= recapture.recapture_disposition %></td>
  <td><%= recapture.time_of_day %></td>
  <td><%= link_to font_awesome_icon('fa-external-link'), recapture_path(recapture.id) %></td>
</tr>
