= stylesheet_link_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css'
= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css'
= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css'
= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.3/css/bootstrap-select.min.css'
= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/summernote/0.6.16/summernote.min.css'
= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/summernote/0.6.16/summernote-bs3.min.css'
= stylesheet_link_tag '//cdn.datatables.net/plug-ins/f2c75b7247b/integration/bootstrap/3/dataTables.bootstrap.css'
= stylesheet_link_tag '//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.css'

= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js'
= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js'
= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js'
= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.7.3/js/bootstrap-select.min.js'
= javascript_include_tag 'https://cdnjs.cloudflare.com/ajax/libs/summernote/0.6.16/summernote.min.js'
= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js'
= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/leaflet.js'
= javascript_include_tag '//cdn.rawgit.com/jseppi/Leaflet.MakiMarkers/master/Leaflet.MakiMarkers.js'
= javascript_include_tag '//cdn.datatables.net/1.10.8/js/jquery.dataTables.min.js'
= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/sugar/1.4.1/sugar-full.min.js'
= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/chosen/1.4.2/chosen.jquery.min.js'
= javascript_include_tag '//cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.6.1/jquery.serializejson.min.js'