%nav.navbar.navbar-default
  .container-fluid
    -# Brand and toggle get grouped for better mobile display
    .navbar-header
      %button.navbar-toggle.collapsed{ aria: { expanded: 'false'}, data: { target: '#bs-example-navbar-collapse-1', toggle: 'collapse' }, type: 'button'}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      -# The brand, being the name and a link to the root.
      = link_to 'Narwhal', root_path, class: 'navbar-brand'
    -# Collect the nav links, forms, and other content for toggling
    #bs-example-navbar-collapse-1.collapse.navbar-collapse
      %ul.nav.navbar-nav
        -# Captures options
        %li.dropdown
          %a.dropdown-toggle{ aria: { expanded: 'false', haspopup: 'true' }, data: { toggle: 'dropdown' }, :href => '#', :role => 'button'}
            Captures
            %span.caret
          %ul.dropdown-menu
            - if can? :read, Capture
              %li= link_to 'View Captures', captures_path
            - if can? :create, Capture
              %li= link_to 'New Capture', new_capture_path
              %li= link_to 'Scratch Recaptures', scratch_captures_path
            - if can? :manage, Capture
              %li= link_to 'Upload Spreadsheet', import_captures_path
        -# Anglers options
        %li.dropdown
          %a.dropdown-toggle{ aria: { expanded: 'false', haspopup: 'true' }, data: { toggle: 'dropdown' }, :href => '#', :role => 'button'}
            Anglers
            %span.caret
          %ul.dropdown-menu
            - if can? :read, Angler
              %li= link_to 'View Anglers', anglers_path
            - if can? :create, Angler
              %li= link_to 'New Angler', new_angler_path
            - if can? :create, VolunteerTimeLog
              %li= link_to 'View Volunteer Hours', volunteer_time_logs_path
        -# Tags options
        %li.dropdown
          %a.dropdown-toggle{ aria: { expanded: 'false', haspopup: 'true' }, data: { toggle: 'dropdown' }, :href => '#', :role => 'button'}
            Tags
            %span.caret
          %ul.dropdown-menu
            - if can? :read, Tag
              %li= link_to 'View Tags', tags_path
            - if can? :read, TagAssignment
              %li= link_to 'View Tag Assignments', assigned_tags_path
            - if can? :update_assignment, Tag
              %li= link_to 'Assign Tags', assign_tags_path
            - if can? :update_assignment, Tag
              %li= link_to 'Unassign Tags', unassign_tags_path
            %li.divider{role: 'separator'}
            - if can? :read, TagLot
              %li= link_to 'View Tag Lots', tag_lots_path
            - if can? :create, TagLot
              %li= link_to 'New Tag Lot', new_tag_lot_path
            %li.divider{role: 'separator'}
            - if can? :read, UserTagRequest
              %li= link_to 'View Tag Requests', user_tag_requests_path
            - if can? :update, Tag
              %li= link_to 'Deactivate Tag', deactivate_tags_path
        -# Reports path
        - if can? :report, :reports
          %li= link_to 'Reports', report_path
        -# Tags options
        %li.dropdown
          %a.dropdown-toggle{ aria: { expanded: 'false', haspopup: 'true' }, data: { toggle: 'dropdown' }, :href => '#', :role => 'button'}
            CMS
            %span.caret
          %ul.dropdown-menu
            - if can? :read, Species
              %li= link_to 'Species Information', species_index_path
            - if can? :edit, AboutTaggingProgram
              %li= link_to 'About Page', edit_about_tagging_program_path(1)
            - if can? :edit, HowToTag
              %li= link_to 'How To Page', edit_how_to_tag_path(1)
            - if can? :edit, Blurb
              %li= link_to 'Blurbs', edit_blurb_path(1)
            - if can? :read, NewsItem
              %li= link_to 'News', news_items_path
            - if can? :read, Announcement
              %li= link_to 'Announcements', announcements_path
            - if can? :read, Photo
              %li= link_to 'Photos', photos_path
        %li.dropdown
          %a.dropdown-toggle{ aria: { expanded: 'false', haspopup: 'true' }, data: { toggle: 'dropdown' }, :href => '#', :role => 'button'}
            Users
            %span.caret
          %ul.dropdown-menu
            - if can? :read, User
              %li= link_to 'Users', users_path
      -# the right side of the navbar
      %ul.nav.navbar-nav.navbar-right

        -# Session management
        %li.dropdown
          %a.dropdown-toggle{ aria: { expanded: 'false', haspopup: 'true' }, data: { toggle: 'dropdown' }, :href => '#', :role => 'button'}
            = current_user.full_name
            %span.caret
          %ul.dropdown-menu
            %li= link_to content_tag(:i, 'My Account', class: 'fa fa-user'), edit_user_path(current_user)
            %li= link_to content_tag(:i, 'Sign Out', class: 'fa fa-sign-out') , destroy_user_session_path, method: :delete, confirm: 'Are you sure you want to sign out?'
        %span.notification-anchor.fa-stack.fa-1x.has-badge{ data: { container: "body", toggle: "popover",  placement: "bottom", count: number_with_delimiter(current_user.notifications.active.count) }}
          %i.fa.fa-circle.fa-stack-2x
          %i.fa.fa-bell.fa-stack-1x.fa-inverse
      -# The search form
      %form.navbar-form.navbar-right{:role => "search", action: '/search', method: 'get'}
        .form-group
          = autocomplete_field_tag :angler_id_search, nil,autocomplete_angler_angler_id_anglers_path, data: { 'auto-focus' => true, noMatchesLabel: 'No anglers found'  }, :class => 'form-control', :placeholder => 'Angler ID'
        .form-group
          %input.form-control{name: 'term', placeholder: 'Everything', type: 'text'}
        %button.btn.btn-default.btn-flat{:type => 'submit'} Search

.hidden.popover-template
  #notification_content
    = render partial: 'notifications/panel', object: current_user.notifications.active.page(1), as: :notifications, locals: {page: 1}