<!DOCTYPE html>
<html>

  <head>
    <title>Fish Tagging Management</title>

    <%= render partial: 'layouts/cdn' %>

    <%= stylesheet_link_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= yield :head %>

    <%= csrf_meta_tag %>
  </head>

  <body class="<%= controller_name.gsub(/_/, '-') %>">

    <%= render partial: 'layouts/navbar' %>

    <div class="main-div <%= action_name.gsub(/_/,'-') %>">
      <div class="content-center">
        <%= render :partial => 'partials/flash_messages' %>
        <%= yield %>
      </div>
    </div>

  </body>
</html>
