!!!
%html
  %head
    %title Tag Louisiana - Recapture Report
    
    = wicked_pdf_stylesheet_link_tag 'pdf_report_requirements/bootstrap'
    = wicked_pdf_stylesheet_link_tag 'pdf_report_requirements/leaflet', media: :screen 
    = wicked_pdf_stylesheet_link_tag 'pdf_report_requirements/leaflet', media: :print
    = wicked_pdf_javascript_include_tag 'pdf_report_requirements/jquery.min'
    = wicked_pdf_javascript_include_tag 'pdf_report_requirements/leaflet'
    = wicked_pdf_javascript_include_tag 'pdf_report_requirements/Leaflet.MakiMarkers'

    = wicked_pdf_stylesheet_link_tag 'leaflet/leaflet.label'
    = wicked_pdf_stylesheet_link_tag 'fish_entry_common/report/report-pdf'
    = wicked_pdf_javascript_include_tag 'leaflet/leaflet.label'
    = wicked_pdf_javascript_include_tag 'leaflet/esri-leaflet'
    = wicked_pdf_javascript_include_tag 'common/create_map'
    = wicked_pdf_javascript_include_tag 'fish_entry_common/report/report'

    = render 'layouts/js_variables'

  %body
    #centercontent.content-center
      = yield
