<!DOCTYPE html>
<html>

  <head>
    <title>Tag Louisiana - Recapture Report</title>
    <%= render 'layouts/report_cdn' %>

    <%= stylesheet_link_tag 'application-report', media: :screen %>
    <%= stylesheet_link_tag 'application-report-print', media: :print %>
    <%= javascript_include_tag 'application-report' %>

    <%= render 'layouts/js_variables' %>

    <%= yield :head %>
  </head>

  <body>
    <div id="centercontent" class="content-center">
      <%= yield %>
    </div>
  </body>

</html>
