<!DOCTYPE html>
<html>

  <head>
    <title></title>

    <!-- Using hosted versions of these files, for speed and caching purposes-->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_link_tag 'plain' %>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

    <%= yield :head %>

  </head>

  <body class="<%= controller_name.gsub(/_/, '-') %>">
    <div class="main-div <%= action_name.gsub(/_/,'-') %>">
      <%= yield %>
      <% flash.clear %>
      <!-- end content -->
    </div>
  </body>
</html>
